:host {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  button {
    width: 12rem;
  }
}

:host(.absolute-right-top) {
  position: absolute;
  top: 1rem;
  right: 1rem;
  button {
    width: 12rem;
  }
}
