<div class="staff_wrapper" *ngIf="!groupOutlet.isActivated">
  <control-panel-ui-card *ngIf="_staff">
    <div panelUICardHeaderTitle>
      {{translateService.instant('STAFF_TABLE_LABEL')}}
    </div>
    <div panelUICardContent>
      <div>
        <button mat-raised-button
                color="primary"
                (click)="openDialog('add')">
          <mat-icon>add</mat-icon>
          {{translateService.instant('TABLE_ADD')}}
        </button>
      </div>
      <div class="staff-table-wrapper">
        <control-panel-ui-table
          [data]="_staff"
          [displayedColumns]="displayedColumns"
          [simpleDataColumn]="simpleDataColumn"
          [listSortedColumn]="listSortedColumn"
          (onEdit)="openDialog('edit', $event)"
          (onDelete)="openDialog('delete', $event)">
        </control-panel-ui-table>
      </div>
    </div>
  </control-panel-ui-card>
</div>
<router-outlet #groupOutlet="outlet"></router-outlet>
