<div class="staff_wrapper" *ngIf="!groupOutlet.isActivated">
  <control-panel-ui-card>
    <div panelUICardHeaderTitle>
      {{translateService.instant('STAFF_TABLE_LABEL')}}
    </div>
    <div panelUICardContent>
      <div class="staff-table-wrapper">
        <control-panel-ui-table
          [data]="(service.staffMembers$ | async)"
          [displayedColumns]="displayedColumns"
          [simpleDataColumn]="simpleDataColumn"
          [listSortedColumn]="listSortedColumn"
          [itemCount]="(service.staffCount$ | async)"
          [storageKey]="service.STAFF_STORAGE_KEY"
          iconSet="person_add"
          (edit)="openDialog('edit', $event)"
          (delete)="openDialog('delete', $event)"
          (add)="openDialog('add')"
          (pageChanges)="pageChangeHandler($event)">
        </control-panel-ui-table>
      </div>
    </div>
  </control-panel-ui-card>
</div>
<router-outlet #groupOutlet="outlet"></router-outlet>
