<div class="time-filter">
    <h4 class="mb-4">{{'TIME_PERIOD_FILTER_TITLE' | translate}}</h4>
    <control-panel-ui-period-selector
            fromLabel="{{'EXTENDED_FILTER_FROM' | translate}}"
            toLabel="{{'EXTENDED_FILTER_TO' | translate}}"
            submitLabel="{{'SEARCH_BY_PERIOD' | translate}}"
    ></control-panel-ui-period-selector>
</div>
<ng-container *ngIf="statusFilter">
    <div class="status-filter">
        <h4 class="mb-4">Фильтр по статусу</h4>
        <div class="status-filter_wrapper d-flex flex-column pl-1">
            <mat-checkbox *ngFor="let status of statusFilter.statuses" [(ngModel)]="statusFilterState[status]"
                          (ngModelChange)="applyFilter()">{{status}}</mat-checkbox>
        </div>
    </div>
</ng-container>

