<div class="user_wrapper mat-elevation-z3" *ngIf="_user">
  <div class="row">
    <div class="col-md-6">
      <h5>{{translateService.instant('USER')}}</h5>
      <p *ngFor="let prop of _userProperties">
        <span class="user-property">{{translateService.instant(propertyMap[prop])}}</span>:
        <span *ngIf="prop !== 'gender'">{{_userPropertiesValue[prop]}}</span>
        <span *ngIf="prop === 'gender'">{{translateService.instant(propertyMap[_userPropertiesValue[prop].toLowerCase()])}}</span>
      </p>
    </div>
    <div class="col-md-6">
      <h5>{{translateService.instant('USER_AVATARS')}}</h5>
      <table mat-table [dataSource]="_user.avatars" class="avatars-table">
        <ng-container [matColumnDef]="column" *ngFor="let column of simpleDataColumn;">
          <th mat-header-cell *matHeaderCellDef>
            <span>{{translateService.instant(propertyMap[column])}}</span></th>
          <td mat-cell *matCellDef="let row">
            <span class="table_cell-inner">{{row[column]}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>
            <span>{{translateService.instant(propertyMap['gender'])}}</span></th>
          <td mat-cell *matCellDef="let item">
            <span class="table_cell-inner">{{translateService.instant(propertyMap[item.gender])}}</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
<button mat-raised-button color="primary" (click)="openModalDialog()"><mat-icon>edit</mat-icon>{{translateService.instant('TABLE_EDIT')}}</button>
</div>
<div class="user-toolbar">
  <button mat-raised-button (click)="back()"><mat-icon>arrow_back</mat-icon>{{translateService.instant('BACK_TO_USERS')}}</button>
</div>

