<div class="loader" *ngIf="(loaderService.showLoader$ | async)">
    <mat-progress-spinner
            color="primary"
            mode="indeterminate">
    </mat-progress-spinner>
</div>

<div class="light-theme">
    <table mat-table [dataSource]="games" class="w-100">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{translateService.instant('AMUSEMENTS_NAME_LABEL')}} </th>
            <td mat-cell *matCellDef="let game">
                <div class="name mt-3">{{game.name}}</div>
                <div class="sub_text mb-3">
                    <span>code:</span><span class="info">{{game.code_name}},</span>
                    <span>fingerprint:</span><span class="info">{{game.fingerprint}},</span>
                    <span>origin:</span><span class="info">{{game.origin}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> {{translateService.instant('SERVER_TYPE')}} </th>
            <td mat-cell *matCellDef="let game"> {{game.type}} </td>
        </ng-container>
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> {{translateService.instant('ENABLED')}} </th>
            <td mat-cell *matCellDef="let game" >
                <mat-icon color="{{game.active ? 'success' : 'warn'}}">{{game.active ? 'check' : 'clear'}}</mat-icon>
            </td>

        </ng-container>
        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let game">
                <mat-slide-toggle color="success" [checked]="game.enabled"
                                  (change)="toggleGameHandler($event, game)"></mat-slide-toggle>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.type"
            [class.inactive]="!row.enabled"></tr>
    </table>
</div>
