:host {
  padding: 15px;
  display: block;
  h5 {
    margin-bottom: 15px;
  }
  button {
    padding: 0 10px;
    .mat-icon {
      margin-right: 5px;
    }
  }
  .user_wrapper {
    padding: 20px;
    background-color: white;
    .user-property {
      font-weight: 700;
    }
  }
  .user-toolbar {
    margin: 15px 0;
  }
  .avatars-table {
    width: 100%;
    margin-bottom: 15px;
  }
}
