<mat-tree [dataSource]="dataSource"
          [treeControl]="treeControl"
          class="example-tree"
          *ngIf="treeControl"
          cdkDropList>
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
                 cdkDrag [cdkDragData]="node">
                 <!--(mouseenter)="dragHover(node)"-->
                 <!--(mouseleave)="dragHoverEnd()"-->
                 <!--(cdkDragStarted)="dragStart()"-->
                 <!--(cdkDragReleased)="dragEnd()">-->
      <div class="mat-tree-node_leaf-node">
        {{getNodeName(node)}}
      </div>
      <div>
        <button mat-icon-button color="primary" matTooltip="Remove tariff">T-</button>
      </div>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                 cdkDrag [cdkDragData]="node">
                 <!--(mouseenter)="dragHover(node)"-->
                 <!--(mouseleave)="dragHoverEnd()"-->
                 <!--(cdkDragStarted)="dragStart()"-->
                 <!--(cdkDragReleased)="dragEnd()">-->
    <div>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{getNodeName(node)}}
    </div>
    <div>
      <button mat-icon-button color="primary" matTooltip="Add amount">A+</button>
      <button mat-icon-button color="primary" *ngIf="node.data.isRoot" matTooltip="Add tariff">T+</button>
      <button mat-icon-button color="primary" matTooltip="Add promo">P+</button>
    </div>
  </mat-tree-node>
</mat-tree>
