:host {
  position: relative;
  display: block;
  tr {
    &.playvr {
      background-color: #fdffea;
      &.inactive {
        .mat-cell:not(.mat-column-enabled) {
          opacity: 0.5;
        }
      }
    }
    &.polygon {
      background-color: #dffaff;
      &.inactive {
        .mat-cell:not(.mat-column-enabled) {
          opacity: 0.5;
        }
      }
    }
    .name {
      font-size: 1.25rem;
    }
  }
  .mat-column {
    &-enabled {
      width: 5rem;
      text-align: center;
    }
    &-active {
      text-align: center;
    }
  }
}
