<div class="login-container">
  <form class="login-form" [formGroup]="credential" (ngSubmit)="onSubmit()">
    <mat-form-field class="login-field">
      <input matInput
             placeholder="{{translateService.instant('LOGIN_PAGE_LOGIN_LABEL')}}"
             formControlName="login">
      <mat-error>
        {{'REQUIRED_FIELD' | translate:[translateService.instant('LOGIN_PAGE_LOGIN_LABEL')]:(translateService.locale | async)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-field">
      <input matInput
             placeholder="{{translateService.instant('LOGIN_PAGE_PASSWORD_LABEL')}}"
             type="password"
             formControlName="password">
      <mat-error>
        {{'REQUIRED_FIELD' | translate:[translateService.instant('LOGIN_PAGE_PASSWORD_LABEL')]:(translateService.locale | async)}}
      </mat-error>
    </mat-form-field>
    <language-switcher [languageItems]="languageItems"
                       [placeholder]="translateService.instant('LANGUAGE_SWITCHER_LABEL')"
                       (changeLocaleStart)="loaderService.dispatchShowLoader(true)"></language-switcher>
    <button mat-raised-button
            color="primary"
            type="submit">{{translateService.instant('LOGIN_PAGE_LOGIN_BUTTON_LABEL')}}</button>
  </form>
</div>
