<mat-sidenav-container class="user-component-wrapper" *ngIf="!userOutlet.isActivated">
  <mat-sidenav #extendedFilter
               mode="{{(point?.handset | async) ? 'over' : 'side'}}"
               [opened]="!(point?.handset | async)"
               position="end">
    <div class="extended-filter_wrapper">
      <h3>{{translateService.instant('EXTENDED_FILTER_TITLE')}}</h3>
      <form [formGroup]="filters">
        <p>{{translateService.instant('USER_AGE')}}:</p>
        <div class="age-filter">
          <mat-form-field class="age-field">s
            <mat-label>{{translateService.instant('EXTENDED_FILTER_FROM')}}</mat-label>
            <mat-select formControlName="ageMin">
              <mat-option *ngFor="let age of [].constructor(99); let i = index;"
                          value="{{i + 1}}"
                          [disabled]="i + 1 > filters.get('ageMax').value">
                {{i + 1}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="age-field">
            <mat-label>{{translateService.instant('EXTENDED_FILTER_TO')}}</mat-label>
            <mat-select formControlName="ageMax">
              <mat-option *ngFor="let age of [].constructor(99); let i = index;"
                          value="{{i + 1}}"
                          [disabled]="i + 1 < filters.get('ageMin').value">
                {{i + 1}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="gender-filter">
          <p>{{translateService.instant('USER_GENDER_LABEL')}}:</p>
          <mat-checkbox formControlName="male">{{translateService.instant('USER_GENDER_MALE')}}</mat-checkbox>
          <mat-checkbox formControlName="female">{{translateService.instant('USER_GENDER_FEMALE')}}</mat-checkbox>
        </div>
        <div class="registered-filter">
          <p>{{translateService.instant('EXTENDED_FILTER_REGISTERED')}}:</p>
          <div class="dates">
            <mat-form-field class="data">
              <input matInput [matDatepicker]="from" placeholder="{{translateService.instant('EXTENDED_FILTER_FROM')}}"
                     [max]="maxDate" formControlName="registeredFrom">
              <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
              <mat-datepicker #from></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="data">
              <input matInput [matDatepicker]="to" placeholder="{{translateService.instant('EXTENDED_FILTER_TO')}}"
                     [max]="maxDate" [min]="filters.get('registeredFrom').value" formControlName="registeredTo">
              <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
              <mat-datepicker #to></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-sidenav>
  <mat-sidenav-content #scrollContainer>
    <control-panel-ui-card panelUIColor="primary">
      <div panelUICardHeaderTitle>{{translateService.instant('USERS_TABLE_TITLE')}}</div>
      <div panelUICardContent>
        <div class="user-table-toolbar">
          <div class="users-table-filter">
            <mat-form-field class="users-table-filter-input">
              <input matInput #filter [formControl]="quickFilter"
                     autocomplete="off"
                     placeholder="{{translateService.instant('USERS_TABLE_FILTER_INPUT_LABEL')}}">
              <mat-icon matPrefix class="search-filter-icon">search</mat-icon>
              <mat-icon *ngIf="filter.value"
                        matSuffix
                        (click)="quickFilter.setValue('')"
                        class="clear-filter-icon">clear
              </mat-icon>
            </mat-form-field>
          </div>
          <div class="toolbar-action-buttons-group">
            <button
              *ngIf="(point.handset | async)"
              mat-icon-button
              (click)="extendedFilter.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </div>
        <control-panel-ui-table
          [data]="(userService.usersData$ | async)?.items"
          [displayedColumns]="displayedColumns"
          [simpleDataColumn]="columnWithData"
          [listSortedColumn]="sortedColumn"
          [itemCount]="(userService.usersData$ | async)?.count"
          [storageKey]="userService.STORAGE_KEY"
          [resetPagination]="resetPagination"
          iconSet="person_add"
          (edit)="operationWithUser('edit', $event)"
          (delete)="operationWithUser('delete', $event)"
          (add)="operationWithUser('add')"
          (pageChanges)="changesHandler($event)"
          (sortChanges)="changesHandler($event)"
          (selected)="selectUser($event)"></control-panel-ui-table>
      </div>
    </control-panel-ui-card>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet #userOutlet="outlet" (deactivate)="cd.markForCheck()"></router-outlet>
