@import 'pallete';

:host {
  width: 100%;
  height: 100%;

  .user-component-wrapper {
    height: 100%;

    .extended-filter-wrapper {
      padding: 5px;
      max-width: 300px;
    }

    button.extended-filters {
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .user-table-toolbar {
      padding: 0 10px;
      display: flex;
      flex-wrap: wrap;
      .users-table-filter {
        flex: 1 1;

        .users-table-filter-input {
          width: 200px;
          margin-right: 20px;
          .clear-filter-icon  {
            cursor: pointer;
            font-size: 16px;
          }
          ::ng-deep.mat-form-field-prefix {
            top: 5px;
          }
          .search-filter-icon {
            margin-right: 5px;
          }
        }
      }

      .toolbar-action-buttons-group {
        display: flex;
        width: 100%;
        justify-content: space-between;
        button {
          padding: 0 10px;
          .mat-icon {
            margin-right: 5px;
          }
        }
      }
    }

    .mat-column-select {
      overflow: initial;
    }
  }
}
