<div class="add-entity-wrapper">
  <mat-form-field class="input-name">
    <input matInput [placeholder]="translateService.instant('NAME')" [formControl]="name">
    <mat-error>{{'REQUIRED_FIELD' | translate:[translateService.instant('NAME')]}}</mat-error>
  </mat-form-field>
  <p>{{'GROUP_PERMISSIONS' | translate}}</p>
  <control-panel-ui-selection-table
    [selected]="data.group.permissions"
    (pageChange)="pageChangeHandler($event)"
    (selectionChange)="addPermissions($event)"
  ></control-panel-ui-selection-table>
</div>
<control-panel-ui-action-toolbar
  [mode]="data.mode"
  (confirm)="dialogSubmit()"
  (cancel)="dialogRef.close()"></control-panel-ui-action-toolbar>
