@import "control-panel-theme";

:host {
  @include d-block();
  .packages_wrapper {
    margin: 0;
    .packages__history {
      padding: 0 1rem;
      .mat-table {
        width: 100%;
      }
    }
    .packages {
      padding-top: 4rem;
      .package {
        margin: 0 -10px;
      }
    }
  }
}
