@import 'control-panel-theme';
:host {
  width: 100%;
  .card_wrapper {
    height: 100%;
    overflow: auto;
  }
  .table {
    width: 100%;
    background-color: $main_bg_color;

    tr {
      &.staff-row {
        td:not(.mat-column-enabled):not(.mat-column-action) {
          color: $info;
        }
      }
      &.staff-root-row {
        td:not(.mat-column-enabled):not(.mat-column-action) {
          color: $warn;
        }
      }
    }
    .card-activated {
      color: $success;
    }
    .card-deactivated {
      color: $warn;
    }
    .mat-column-action {
      text-align: right;
    }
  }
  .mat-paginator {
    background-color: $main_bg_color;
  }
}
