<mat-tab-group [@.disabled]="true" color="accent">
    <mat-tab label="{{'ADMIN_MENU_CARDS' | translate}}">
        <div class="card_wrapper light-theme">
            <table mat-table [dataSource]="dataSource" class="table">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>{{translateService.instant(propertyMap['index'])}}</span></th>
                    <td mat-cell *matCellDef="let row; let i = index">
                        <span class="table_cell-inner">{{i + 1}}</span>
                    </td>
                </ng-container>
                <ng-container [matColumnDef]="column" *ngFor="let column of simpleDataColumn;">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>{{translateService.instant(propertyMap[column])}}</span></th>
                    <td mat-cell *matCellDef="let row">
                        <span class="table_cell-inner">{{row[column]}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>{{translateService.instant(propertyMap['created_at'])}}</span></th>
                    <td mat-cell *matCellDef="let row">
                        <span class="table_cell-inner">{{row.created_at | date: 'dd.MM.yyyy hh.mm'}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="binding">
                    <th mat-header-cell *matHeaderCellDef>
                        <span>{{translateService.instant(propertyMap['binding'])}}</span></th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="row.binding">
                            <div class="mb-1 mt-1"><span class="bold">{{translateService.instant('NAME')}}
                                :</span>{{row.binding.user.display_name}}</div>
                            <div class="mb-1"><span class="bold">{{translateService.instant('TYPE')}}
                                :</span>{{row.binding.user.type}}</div>
                            <div class="mb-1"><span class="bold">{{translateService.instant('STAFF_ROLES')}}
                                :</span>{{row.binding.user.roles.join(', ') }}</div>
                            <div class="mb-1"><span class="bold">{{translateService.instant('BOUND_AT')}}
                                :</span>{{row.binding.bound_at | date: 'dd.MM.yyyy hh.mm'}}</div>
                        </ng-container>
                        <ng-container *ngIf="!row.binding">
                            <div class="d-flex align-items-center">
                                <mat-icon color="warn" class="mr-2">cancel</mat-icon>
                                <span>{{translateService.instant('CARD_UNBOUND')}}</span>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>

                <!--action cell-->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        {{translateService.instant(propertyMap['action'])}}
                    </th>
                    <td mat-cell *matCellDef="let row" class="light-theme">
                        <button mat-button color="warn" *ngIf="row.binding" (click)="service.unboundCard(row.chip_id)">
                            {{translateService.instant('UNBOUND')}}
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="getRowClass(row.currentOwner)"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[50, 100, 200]"
                           [length]="service.cards$?.getValue()?.length"
                           [pageIndex]="paginatorInit?.pageIndex"
                           [pageSize]="paginatorInit?.pageSize"
                           showFirstLastButtons
                           (page)="changePageHandler($event)"></mat-paginator>
        </div>
    </mat-tab>
    <mat-tab label="{{'ADMIN_WHO_IS' | translate}}" class="who-is_tab">
        <who-is></who-is>
    </mat-tab>
</mat-tab-group>
