<control-panel-ui-card>
  <div panelUICardHeaderTitle>{{translateService.instant('GROUP_LIST')}}</div>
  <div panelUICardContent>
    <control-panel-ui-table
      [displayedColumns]="columns"
      [simpleDataColumn]="['name']"
      [data]="(service.groups$ | async)"
      [valueMap]="(service.permissions$ | async)"
      [itemCount]="service.staffGroupCount$ | async"
      [paginatorInit]="service.groupPaginationState"
      iconSet="group_add"
      (edit)="openDialogGroup('edit', $event)"
      (delete)="showConfirmDialog($event)"
      (add)="openDialogGroup('add')"
      (pageChanges)="pageChangeHandler($event)"></control-panel-ui-table>
  </div>
</control-panel-ui-card>
