@import "control-panel-theme";

:host {
  @include d-block();
  overflow: auto;
  height: 100%;
  @include custom-scroll();

  .tariffs_wrapper {
    width: 100%;
    padding: 15px;

  }

  .mat-cell {
    padding-right: .5rem;
  }

  .amount {
    min-width: 60px;
  }

  .cdk-column-price {
    flex: 0 0 80px;
  }

  .cdk-column-name {
    flex: 0 0 6rem;
  }
}
