<div class="prices_wrapper light-theme">
    <div class="row m-0">
        <div class="col-md-6 col-12" *ngFor="let price of service.prices$ | async">
                <control-panel-ui-card class="primary">
                    <div panelUICardHeaderTitle>{{price.id}}</div>
                    <div panelUICardContent>
                        <p class="bold">Game:</p>
                        <p class="word-break">{{price.game.uuid}}</p>
                        <mat-table [dataSource]="[price]">

                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
                            </ng-container>

                            <ng-container *ngFor="let schedule of price.scheduler; let index = index" [matColumnDef]="index.toString()">
                                    <mat-header-cell *matHeaderCellDef>Schedule index {{index}}</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{schedule.human }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="price">
                                <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <div class="amount d-flex align-items-center justify-content-between">
                                        <div class="table_cell-inner">{{row.price.amount}}</div>
                                        <div><mat-icon svgIcon="coin"></mat-icon></div>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="getPriceColumns(price)"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: getPriceColumns(price)"></mat-row>
                        </mat-table>
                    </div>
                </control-panel-ui-card>
        </div>
    </div>
<!--    <pre>{{(service.prices$ | async) | json}}</pre>-->
</div>

<!--game: {uuid: "d05a654cfd1ed86d6effd584d92697650f7f47dd38084fedf22de8ca73eca566"}-->
<!--uuid: "d05a654cfd1ed86d6effd584d92697650f7f47dd38084fedf22de8ca73eca566"-->
<!--id: "1"-->
<!--price: {currency: "tlpvr", amount: 100}-->
<!--amount: 100-->
<!--currency: "tlpvr"-->
<!--scheduler: [,…]-->
<!--0: {cron: "* 9-17 * * 1-5", human: "Every minute, between 09:00 AM and 05:59 PM, Monday through Friday"}-->
<!--cron: "* 9-17 * * 1-5"-->
<!--human: "Every minute, between 09:00 AM and 05:59 PM, Monday through Friday"-->
