:host {
  display: block;
  div {
    padding: 15px;
    p {margin: 0 }
  }
  .status {
    display: block;
    justify-content: center;
    .mat-icon {
      height: 50px;
      width: 50px;
      &.open {
        color: #00a200;
      }
      &.closed {
        color: #555555;
      }
      &.blocked {
        color: #FF0000;
      }
    }
  }
}
