<div class="light-theme">
    <control-panel-ui-card class="primary">
        <div panelUICardHeaderTitle>{{translationService.instant('PROMO_LIST')}}</div>
        <div panelUICardContent>
            <mat-table
                    cdkDropList
                    #table
                    #list="cdkDropList"
                    [dataSource]="dataSource"
                    [cdkDropListData]="dataSource.data"
                    (cdkDropListDropped)="onListDrop($event)"
                    class="promo-table">
                <ng-container matColumnDef="order">
                    <mat-header-cell *matHeaderCellDef>{{'ORDER' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let promo" cdkDragHandle class="drag-icon">
                        <mat-icon>drag_indicator</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="display_name">
                    <mat-header-cell
                            *matHeaderCellDef>{{translationService.instant('AMUSEMENTS_NAME_LABEL')}}</mat-header-cell>
                    <mat-cell *matCellDef="let promo"> {{promo.display_name || promo.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="packages">
                    <mat-header-cell *matHeaderCellDef>{{translationService.instant('PACKAGES')}}</mat-header-cell>
                    <mat-cell *matCellDef="let promo"> {{promo.packages}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef> {{translationService.instant('ARCHIVED')}} </mat-header-cell>
                    <mat-cell *matCellDef="let promo">
                        <mat-icon
                                color="{{promo.active ? 'success' : 'warn'}}">{{promo.active ? 'check' : 'clear'}}</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="enabled">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let promo">
                        <mat-slide-toggle color="success" [checked]="promo.enabled"></mat-slide-toggle>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="archived">
                    <mat-header-cell *matHeaderCellDef> {{translationService.instant('ARCHIVED')}} </mat-header-cell>
                    <mat-cell *matCellDef="let promo">
                        <mat-icon
                                color="{{promo.archived ? 'success' : 'warn'}}">{{promo.archived ? 'check' : 'clear'}}</mat-icon>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let index = index;" cdkDrag
                         (cdkDragStarted)="reset($event, index)"
                         [class.moved]="row.moved"
                         [class.moved-from]="row.movedFrom">
                </mat-row>
            </mat-table>
            <control-panel-ui-empty class="black" *ngIf="!(service.promo$ | async)?.length"></control-panel-ui-empty>
            <!--            <p>TEST cron editor</p>-->
            <!--            <cron-editor [formControl]="cronControl" [options]="cronOptions"></cron-editor>-->
            <!--            <p>{{cronControl.valueChanges | async}}</p>-->
        </div>
    </control-panel-ui-card>
</div>
