<div class="d-flex align-items-center justify-content-end">
    <div class="sync-action">
        <span class="mr-4">Last synchronization was at {{(service.lastSyncTime$ | async) | date:'dd.MM.yyyy HH:mm:ss'}}</span>
        <button mat-raised-button color="primary" (click)="service.synchronize()">Sync</button>
    </div>
</div>
<control-panel-ui-time-filter class="light-theme"
                              [statusFilter]="{statuses: ['paid', 'unpaid']}"
                                (apply)="applyFilterHandler($event)"></control-panel-ui-time-filter>
<control-panel-ui-table class="light-theme"
                        [displayedColumns]="['summary', 'type','charges', 'status', 'total', 'created_at', 'updated_at']"
                        [simpleDataColumn]="['summary', 'type', 'status', 'created_at', 'updated_at']"
                        [data]="service.invoices$ | async"
                        [itemCount]="(service.invoices$ | async)?.length"></control-panel-ui-table>
