@import "control-panel-theme";

:host {
  .invoices-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 2rem;
    .operation {
      &-name {
        margin-right: 2rem;
        flex: 0 0 40%;
      }
      &-income, &-outcome {
        min-width: 10rem;
      }
    }
    .mat-column {
      &-action {
        width: 5rem;
        div {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
    .status {
      &-failed {
        color: $warn;
      }
      &-closed {
        color: green;
      }
      &-pending, &-processing {
        color: map-get($accent-color, 500);
      }
    }
  }
}
