@import "control-panel-theme";
:host {
  .language-select {
    font-size: 14px;
    padding: 0 5px;
    // TODO change theme later
    &.light {
      background-color: rgba($white, 1);
      border-radius: 3px;
    }
  }
}
