:host {
  width: 100%;
  table {
    width: 100%;
    .amusements_logo-header-cell {
      padding-left: 70px;
    }
    .amusements_desc-list {
      padding: 0;
    }
    .amusements_name {
      font-size: 26px;
      font-weight: 300;
    }
  }
}
