@import "pallete";
@import '~@angular/material/theming';

:host {
  width: 100%;
  @include mat-elevation(1);
  display: block;
  margin: 10px 0;
  .ui-package_wrapper {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      div {
        display: flex;
        align-items: center;
      }
      h4 {
        font-weight: 100;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    .list {
      padding: 10px 10px 10px 25%;
    }
  }
}
