<div class="ui-package_wrapper">
  <div class="header">
    <div>
      <button mat-icon-button (click)="expanded = !expanded" class="expand-button">
        <mat-icon class="mat-icon-rtl-mirror">
          {{expanded ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <h4>Package: #{{package.packageInfo.name}}</h4>
    </div>
    <p>amount: {{package.packageInfo.amount}} {{package.packageInfo.currency}}</p>
  </div>
  <div class="list" *ngIf="expanded" cdkDropList (cdkDropListDropped)="drop($event)">
    <control-panel-ui-payment *ngFor="let payment of package.payments" [payment]="payment" cdkDrag [cdkDragData]="payment"></control-panel-ui-payment>
  </div>
</div>
