<form [formGroup]="form" class="staff-member_form" #staffMemberForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="{{'FIRST_NAME' | translate}}" formControlName="firstName" required>
    <mat-error>
      {{'REQUIRED_FIELD' | translate:[translateService.instant('FIRST_NAME')]}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'LAST_NAME' | translate}}" formControlName="lastName" required>
    <mat-error>
      {{'REQUIRED_FIELD' | translate:[translateService.instant('LAST_NAME')]}}
    </mat-error>
  </mat-form-field>
  <control-panel-ui-selection-table
    [items]="(service.groupsMap$ | async)?.items"
    [length]="(service.groupsMap$ | async)?.count"
    [multipleSelection]="false"
    [selected]="[data.item.group]"
    (pageChange)="pageChangeHandler($event)"
    (selectionChange)="changeGroup($event)"
  ></control-panel-ui-selection-table>
  <div class="action-button-group">
    <button mat-raised-button
            color="warn"
            type="button"
            (click)="onCancelHandler()">{{'DIALOG_CANCEL_BUTTON_LABEL' | translate }}</button>
    <button mat-raised-button
            color="primary"
            type="submit"
            (click)="onSubmitHandler()">{{(mode === 'edit' ? 'USER_FORM_EDIT_BUTTON_LABEL' : 'USER_FORM_ADD_BUTTON_LABEL') | translate }}</button>
  </div>
</form>
