@import "control-panel-theme";
:host {
  width: 100%;
  background-color: $main_bg_color;

  .tariff-tree_wrapper {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid;
    .tariff-title {
      font-size: 20px;
      font-weight: 100;
    }
    .tariff_last-tariffs {
      margin-left: 40px;
      p {
        margin-top: 0;
      }
      .tariff-item {
        background-color: rgba($white, .3);
        border-radius: 2px;
        padding: 2px 5px;
        margin-right: 10px;
      }
    }
  }
  .example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .mat-tree {
    background-color: $main_bg_color;
  }
}
