<div class="light-theme">
    <control-panel-ui-card class="primary">
        <div panelUICardHeaderTitle>{{translations.instant('GAMES_LIST_TITLE')}}</div>
        <div panelUICardContent>
            <div class="toolbar d-flex justify-content-between align-items-center">
                <control-panel-ui-quick-filter (filterChange)="applyFilter($event)"></control-panel-ui-quick-filter>
                <button mat-flat-button color="primary" *ngIf="selection.hasValue()"
                        (click)="changePriceForSelectedHandler()">{{translations.instant('CHANGE_PRICE_FOR_SELECTED')}}</button>
            </div>

            <table mat-table [dataSource]="dataSource" class=" w-100">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('AMUSEMENTS_NAME_LABEL')}} </th>
                    <td mat-cell *matCellDef="let game">
                        <div class="name mt-3">{{game.name}}</div>
                        <div class="sub_text mb-3">
                            <span>id:</span><span class="info">{{game.id}}</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="source">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('SOURCE')}} </th>
                    <td mat-cell *matCellDef="let game">
                        <div class="name mt-3">{{game.source}}</div>
                        <div class="sub_text mb-3" *ngIf="game.type">
                            <span>{{'TYPE' | translate}}:</span><span class="info">{{game.type}}</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="prices">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('PRICES')}} </th>
                    <td mat-cell *matCellDef="let game">
                        <p *ngFor="let price of game.prices" class="d-flex">
                            <span class="mr-2">{{price.display_name || translations.instant('DEFAULT_PROMO')}}:</span>
                            <span class="mr-2 label">{{price.amount}} {{price.currency}}</span>
                        </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('ENABLED')}} </th>
                    <td mat-cell *matCellDef="let game">
                        <mat-icon
                                color="{{game.active ? 'success' : 'warn'}}">{{game.active ? 'check' : 'clear'}}</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let game" (click)="$event.stopPropagation()">
                        <div class="d-flex align-items-center justify-content-between">
                            <button mat-icon-button color="accent"
                                    (click)="inlineChangePriceHandler(game)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class=""
                    (click)="selection.toggle(row)">
                </tr>
            </table>
            <div [hidden]="dataSource.data.length < 50">
                <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </control-panel-ui-card>

</div>

<ng-template #priceDialogTemplate>
    <div class="price-dialog_wrapper" mat-dialog-content>
        <h3 mat-dialog-title>{{translations.instant('APPLY_PRICE_TITLE')}}</h3>
        <p>{{translations.instant('FOR_NEXT_GAMES_LABEL')}}</p>
        <div class="games-list mb-2">
            <ul *ngIf="selection.selected.length">
                <li *ngFor="let game of selection.selected">{{game.name}}</li>
            </ul>
            <ul *ngIf="!selection.selected.length && _editRow">
                <li>{{_editRow.name}}</li>
            </ul>
        </div>
        <mat-error class="mb-2" *ngIf="selection.selected.length > 1">{{'GAME_PRICES_WILL_OVERWRITTEN_NOTE' | translate}}</mat-error>
        <form [formGroup]="form">
            <div formArrayName="prices" cdkDropList (cdkDropListDropped)="dropPrice($event)">
                <h5>{{'PRICES' | translate}}</h5>
                <ng-container *ngFor="let price of prices.controls; let index = index">
                    <div [formGroupName]="index + ''" class="price" cdkDrag>
                        <div class="d-flex justify-content-end align-items-center flex-grow-1" cdkDragHandle>
                            <mat-icon class="mr-2 drag-icon">drag_indicator</mat-icon>
                            <span class="flex-grow-1">{{translations.instant('TRANSACTION_NUMBER')}} {{index + 1}}</span>
                            <button type="button" mat-icon-button color="warn"
                                    class="mr-n2"
                                    (click)="deletePrice(index)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                        <div class="fields d-flex justify-content-between">
                            <mat-form-field class="promo">
                                <mat-select formControlName="promo_id"
                                            (selectionChange)="updateExcludedPromo()"
                                            [placeholder]="translations.instant('PROMO')">
                                    <ng-container *ngFor="let promo of promos">
                                        <mat-option *ngIf="excludePromo(promo.id, index)"
                                                    value="{{promo.id}}">{{promo.display_name || promo.name}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="amount">
                                <input formControlName="amount" type="number" matInput placeholder="{{'TRANSACTION_AMOUNT' | translate}}">
                                <mat-error *ngIf="prices.at(index).get('amount').errors?.required">
                                    {{'REQUIRED_FIELD' | translate:[translations.instant('TRANSACTION_AMOUNT')]}}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="currency">
                                <mat-select formControlName="currency"
                                            placeholder="{{'TRANSACTION_CURRENCY' | translate}}">
                                    <mat-option *ngFor="let currency of _currencies"
                                                [value]="currency">{{currency}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <div class="d-flex justify-content-end mb-2">
                    <button type="button" mat-button color="primary"
                            (click)="addPrice()" class="pl-2">
                        <mat-icon>add</mat-icon>
                        {{translations.instant('TABLE_ADD')}}
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="actions d-flex align-items-center justify-content-end">
        <button mat-flat-button color="warn" class="ml-2"
                (click)="reset()"
                mat-dialog-close>{{translations.instant('DIALOG_CANCEL_BUTTON_LABEL')}}</button>
        <button mat-flat-button color="accent" class="ml-2"
                (click)="applyPrice()">{{translations.instant('DIALOG_CONFIRM_BUTTON_LABEL')}}</button>
    </div>
</ng-template>

