<div class="light-theme">
    <control-panel-ui-card class="primary">
        <div panelUICardHeaderTitle>{{translations.instant('GAMES_LIST_TITLE')}}</div>
        <div panelUICardContent>
            <div class="toolbar d-flex justify-content-between align-items-center">
                <control-panel-ui-quick-filter (filterChange)="applyFilter($event)"></control-panel-ui-quick-filter>
            </div>

            <table mat-table [dataSource]="dataSource" class="games-table">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('AMUSEMENTS_NAME_LABEL')}} </th>
                    <td mat-cell *matCellDef="let price" [class.disabled]="_editPrice && _editPrice.id !== price.id">
                        <ng-container *ngIf="_editPrice?.id !== price.id">
                            <div class="name mt-3" (click)="edit(price)">{{price.name}}</div>
                            <div class="sub_text mb-3">
                                <span>{{translations.instant('ID')}}:</span><span class="info">{{price.id}}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="_editPrice?.id === price.id">
                            <mat-form-field class="w-100 mr-2">
                                <input type="text" matInput [formControl]="_form.controls?.name">
                                <mat-error *ngIf="_form.controls?.name?.errors?.required">{{'REQUIRED' | translate}}</mat-error>
                            </mat-form-field>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('PACKAGE_CATEGORY')}} </th>
                    <td mat-cell *matCellDef="let price" [class.disabled]="_editPrice && _editPrice.id !== price.id">
                        <ng-container *ngIf="_editPrice?.id !== price.id">
                            <div>{{price.category}}</div>
                        </ng-container>
                        <ng-container *ngIf="_editPrice?.id === price.id">
                            <mat-form-field class="field">
                                <mat-select [formControl]="_form.controls?.category">
                                    <mat-option *ngFor="let category of _categories"
                                                [value]="category">{{category}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="maxPlayers">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('MAX_PLAYERS')}} </th>
                    <td mat-cell *matCellDef="let price" [class.disabled]="_editPrice && _editPrice.id !== price.id">
                        <ng-container *ngIf="_editPrice?.id !== price.id">
                            <div>{{price.maxPlayers}}</div>
                        </ng-container>
                        <ng-container *ngIf="_editPrice?.id === price.id">
                            <mat-form-field class="field">
                                <mat-select [formControl]="_form.controls?.maxPlayers">
                                    <mat-option *ngFor="let count of _players" [value]="count">{{count}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="maxDuration">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('MAX_DURATION')}} </th>
                    <td mat-cell *matCellDef="let price" [class.disabled]="_editPrice && _editPrice.id !== price.id">
                        <ng-container *ngIf="_editPrice?.id !== price.id">
                            <div>{{price.maxDuration || '-'}} <span *ngIf="price.maxDuration">{{'MINUTE' | translate}}</span></div>
                        </ng-container>
                        <ng-container *ngIf="_editPrice?.id === price.id">
                            <mat-form-field class="field">
                                <mat-select [formControl]="_form.controls?.maxDuration">
                                    <mat-option *ngFor="let duration of _durations"
                                                [value]="duration">{{duration}} {{'MINUTE' | translate}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> {{translations.instant('PRICE')}} </th>
                    <td mat-cell *matCellDef="let price" [class.disabled]="_editPrice && _editPrice.id !== price.id">
                        <ng-container *ngIf="_editPrice?.id !== price.id">
                            <span class="mr-2 label">{{price.price.amount}} {{price.price.currency}}</span>
                        </ng-container>
                        <ng-container *ngIf="_editPrice?.id === price.id">
                            <div class="d-flex align-items-center">
                                <mat-form-field class="field">
                                    <input type="number" matInput [min]="0" [max]="100000"
                                           [formControl]="_form.controls?.price?.controls?.amount">
                                    <mat-error *ngIf="_form.controls?.price?.controls?.amount?.errors?.required">{{'REQUIRED' | translate}}</mat-error>
                                    <mat-error *ngIf="_form.controls?.price?.controls?.amount?.errors?.max as max">{{'MAX_VALUE_ERROR_SHORT' | translate}} {{max.max}}</mat-error>
                                    <mat-error *ngIf="_form.controls?.price?.controls?.amount?.errors?.min as min">{{'MIN_VALUE_ERROR_SHORT' | translate}} {{min.min}}</mat-error>
                                </mat-form-field>
                                <span class="semi-bold">{{price.price.currency}}</span>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="enabled">
                    <th mat-header-cell *matHeaderCellDef>{{translations.instant('ENABLED_ALT')}}</th>
                    <td mat-cell *matCellDef="let price"
                        [class.disabled]="_editPrice && _editPrice.id !== price.id">
                        <ng-container *ngIf="_editPrice?.id !== price.id">
                            <mat-icon [class.positive]="price.enabled"
                                      [class.negative]="!price.enabled">{{price.enabled ? 'check' : 'clear'}} </mat-icon>
                        </ng-container>
                        <ng-container *ngIf="_editPrice?.id === price.id">
                            <mat-checkbox [formControl]="_form.controls?.enabled"></mat-checkbox>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let price"
                        [class.disabled]="_editPrice && _editPrice.id !== price.id">
                        <div class="d-flex align-items-center justify-content-end" *ngIf="_editPrice?.id !== price.id">
                            <button mat-icon-button color="primary" (click)="edit(price)"
                                    [disabled]="_editPrice && _editPrice?.id !== price.id">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="delete(price)"
                                    [disabled]="_editPrice && _editPrice.id !== price.id"
                                    matTooltip="{{translations.instant('TABLE_DELETE')}}"
                                    matTooltipPosition="above">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </div>
                        <div class="d-flex align-items-center justify-content-end" *ngIf="_editPrice?.id === price.id">
                            <button mat-icon-button
                                    (click)="save()"
                                    matTooltip="{{translations.instant('USER_FORM_EDIT_BUTTON_LABEL')}}"
                                    matTooltipPosition="above">
                                <mat-icon color="primary">check</mat-icon>
                            </button>
                            <button mat-icon-button (click)="cancel()"
                                    matTooltip="{{translations.instant('DIALOG_CANCEL_BUTTON_LABEL')}}"
                                    matTooltipPosition="above">
                                <mat-icon color="warn">close</mat-icon>
                            </button>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class=""
                    (click)="selection.toggle(row)">
                </tr>
            </table>
            <div [hidden]="dataSource.data.length < 50">
                <mat-paginator [pageSizeOptions]="[50]" showFirstLastButtons></mat-paginator>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <button mat-flat-button color="primary" [disabled]="!!_editPrice" (click)="add()"
                        class="pl-2 mt-3 mb-3">
                    <mat-icon class="mr-2">add</mat-icon>
                    {{translations.instant('ADD_PRICE_TITLE')}}</button>
            </div>
        </div>
    </control-panel-ui-card>
</div>

