@import "control-panel-theme";

:host {
  width: 100%;
  table {
    width: 100%;
    background-color: $main_bg_color;
    .amusements_logo-header-cell {
      padding-left: 70px;
    }
    .amusements_desc-list {
      padding: 0;
    }
    .amusements_name {
      font-size: 26px;
      font-weight: 300;
    }
    .cell_align-left {
      text-align: right;
    }
  }
}
