<div class="who-is_wrapper light-theme">
    <div class="d-flex align-items-center justify-content-center mb-4 mt-3">
        <mat-form-field class="mr-4">
            <input matInput [formControl]="_control" placeholder="{{'WHO_IM_LABEL' | translate}}">
            <mat-error *ngIf="_control?.errors?.pattern">{{'INVALID_PATTERN' | translate}}</mat-error>
            <mat-error *ngIf="_control?.errors?.invalid">{{'INVALID_PATTERN' | translate}}</mat-error>
            <mat-icon matPrefix class="search-filter-icon">search</mat-icon>
            <mat-icon *ngIf="_control.value"
                      matSuffix
                      (click)="_control.setValue('')"
                      class="clear-filter-icon">clear
            </mat-icon>
        </mat-form-field>
        <button mat-flat-button color="accent"
                (click)="searchCard()">{{'USERS_TABLE_FILTER_INPUT_LABEL' | translate}}</button>
    </div>
    <ng-container *ngIf="_result">
        <control-panel-ui-card class="primary">
            <div panelUICardHeaderTitle>{{translations.instant('PROFILE')}}</div>
            <div panelUICardContent>
                <p class="mt-4">
                    <span class="bold">{{_result.display_name}}</span>
                </p>
                <p>
                    <span class="italic">{{getRoles(_result?.roles)}}</span>
                </p>
                <p>
                    <span class="bold">{{translations.instant('BALANCE')}}:</span>
                    <span class="italic">{{_result?.account?.balance[0].amount}} {{_result?.account?.balance[0].currency}}</span>
                </p>
            </div>
        </control-panel-ui-card>
    </ng-container>
</div>
