<div class="who-is_wrapper light-theme">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <mat-radio-group [formControl]="_mode" class="d-flex justify-content-between mb-3 mt-2" (change)="changeModeHandler($event)">
            <mat-radio-button value="int">int</mat-radio-button>
            <mat-radio-button value="hex">hex</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="mb-3">
            <input matInput [formControl]="_control" placeholder="{{'WHO_IM_LABEL' | translate}}" [maxLength]="_mode.value === 'hex' ? 8 : 10">
            <mat-error *ngIf="_control?.errors?.max">{{'MAX_VALUE_ERROR' | translate}} {{_control?.errors?.max.max}}</mat-error>
            <mat-error *ngIf="_control?.errors?.pattern">{{'INVALID_PATTERN' | translate}}</mat-error>
            <mat-icon matPrefix class="search-filter-icon">search</mat-icon>
            <mat-icon *ngIf="_control.value"
                      matSuffix
                      (click)="_control.setValue('')"
                      class="clear-filter-icon">clear
            </mat-icon>
        </mat-form-field>
        <button mat-flat-button color="accent"
                (click)="searchCard()">{{'USERS_TABLE_FILTER_INPUT_LABEL' | translate}}</button>
    </div>
    <ng-container *ngIf="_result">
        <control-panel-ui-card class="primary">
            <div panelUICardHeaderTitle>{{_result?.roles[0]}}</div>
            <div panelUICardContent>
                <h4>Profile</h4>
                <ng-container *ngFor="let key of getKeys(_result.profile)">
                    <p>
                        <span class="bold">{{key}}: </span>
                        <span class="italic">{{_result.profile[key]}}</span>
                    </p>
                </ng-container>
                <h4>Card</h4>
                <ng-container *ngFor="let key of getKeys(_result.card)">
                    <p>
                        <span class="bold">{{key}}: </span>
                        <span *ngIf="key.includes('_at')"
                              class="italic">{{_result.card[key] | date:'dd.MM.yyyy hh:mm'}}</span>
                        <span *ngIf="!key.includes('_at')" class="italic">{{_result.card[key]}}</span>
                    </p>
                </ng-container>
                <h4>Account</h4>
                <p>
                    <span class="bold">id: </span>
                    <span class="italic">{{_result.account.id}}</span>
                </p>
                <p>
                    <span class="bold">balance: </span>
                    <span class="italic">{{_result.account.balance[0].amount}} {{_result.account.balance[0].currency}}</span>
                </p>
            </div>
        </control-panel-ui-card>
    </ng-container>
</div>
