@import "control-panel-theme";

:host {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  cursor: pointer;
  user-select: none;
  //max-width: 15rem;
  //max-height: 15rem;
  //min-width: 10rem;
  //min-height: 10rem;
  background-color: $white;
  @include gradient-border(#EB00FF, #0087b0);
  ::ng-deep .icon {
    margin: 1rem 0 .5rem;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
  }
  &:hover {
    background-color: rgba($white, .9);
  }
}
