<div class="light-theme">
    <div class="toolbar d-flex justify-content-between align-items-center">
        <control-panel-ui-quick-filter (filterChange)="applyFilter($event)"></control-panel-ui-quick-filter>
        <button mat-flat-button color="primary" [disabled]="!selection.hasValue()" (click)="changePriceForSelectedHandler()">{{translation.instant('CHANGE_PRICE_FOR_SELECTED')}}</button>
    </div>

    <table mat-table [dataSource]="dataSource" class=" w-100">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id</th>
            <td mat-cell *matCellDef="let game"> {{game.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{translation.instant('AMUSEMENTS_NAME_LABEL')}} </th>
            <td mat-cell *matCellDef="let game"> {{game.name}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> {{translation.instant('TYPE')}} </th>
            <td mat-cell *matCellDef="let game"> {{game.type}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> {{translation.instant('PRICE')}} </th>
            <td mat-cell *matCellDef="let game" (click)="$event.stopPropagation()">
                <div class="d-flex align-items-center justify-content-between">
                    <ng-container *ngIf="game.id !== _editRowId">
                        <ng-container *ngIf="!game.price">-</ng-container>
                        <ng-container *ngIf="game.price">
                            <span>{{game.price.amount}} {{game.price.currency}}</span>
                        </ng-container>
                        <button mat-icon-button color="accent" (click)="_editRowId = game.id; game.price = game.price || {amount: 0, currency: 'TLPVR'}">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="game.id === _editRowId">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <div class="d-flex align-items-center">
                                <mat-form-field class="amount-field">
                                    <input matInput [value]="game?.price?.amount" [(ngModel)]="game.price.amount">
                                </mat-form-field>
                                <div>{{game?.price?.currency}}</div>

<!--                                <mat-form-field class="currency-field">-->
<!--                                    <mat-select [(ngModel)]="game.price.currency">-->
<!--                                        <mat-option value="TLPVR">TLPVR</mat-option>-->
<!--                                        <mat-option value="COIN">COIN</mat-option>-->
<!--                                        <mat-option value="BYN">BYN</mat-option>-->
<!--                                    </mat-select>-->
<!--                                </mat-form-field>-->
                            </div>
                            <div class="d-flex">
                                <button mat-icon-button color="primary" (click)="inlineChangePriceHandler(game)" [disabled]="!game.price.currency">
                                    <mat-icon>check</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="_editRowId = null">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class=""
            (click)="selection.toggle(row)">
        </tr>
    </table>
    <div [hidden]="dataSource.data.length < 10">
        <mat-paginator  [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
    </div>

</div>

<ng-template #priceDialogTemplate>
    <h3 mat-dialog-title>{{translation.instant('APPLY_PRICE_TITLE')}}</h3>
    <p>{{translation.instant('FOR_NEXT_GAMES_LABEL')}}</p>
    <ul class="mb-4">
        <li *ngFor="let game of selection.selected">{{game.name}}</li>
    </ul>
    <div class="d-flex align-items-center light-theme mb-4">
        <mat-form-field class="amount-field mr-4">
            <input [formControl]="priceControl" matInput [placeholder]="translation.instant('PRICE')">
            <mat-error *ngIf="priceControl?.errors?.required">{{translation.instant('REQUIRED_FIELD', [translation.instant('PRICE')])}}</mat-error>
            <mat-error *ngIf="priceControl?.errors?.pattern">{{translation.instant('ONLY_NUMBER', [translation.instant('PRICE')])}}</mat-error>
        </mat-form-field>
        <div>TLPVR</div>
<!--        <mat-form-field class="currency-field">-->
<!--            <mat-select [placeholder]="translation.instant('TRANSACTION_CURRENCY')" [formControl]="currencyControl">-->
<!--                <mat-option value="TLPVR">TLPVR</mat-option>-->
<!--                <mat-option value="COIN">COIN</mat-option>-->
<!--                <mat-option value="BYN">BYN</mat-option>-->
<!--            </mat-select>-->
<!--            <mat-error *ngIf="currencyControl?.errors?.required">{{translation.instant('REQUIRED_FIELD', [translation.instant('PRICE')])}}</mat-error>-->
<!--        </mat-form-field>-->
    </div>
    <div class="actions d-flex align-items-center justify-content-end">
        <button mat-flat-button color="warn" class="ml-2" mat-dialog-close>{{translation.instant('DIALOG_CANCEL_BUTTON_LABEL')}}</button>
        <button mat-flat-button color="accent" class="ml-2" (click)="applyPrice()">{{translation.instant('DIALOG_CONFIRM_BUTTON_LABEL')}}</button>
    </div>
</ng-template>

