<mat-toolbar color="primary" class="">
    <button mat-button (click)="sidenav.toggle()">
      <i class="material-icons">{{sidenav.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</i>
    </button>

  <p class="toolbar-title">&nbsp;Control Panel</p>
  <button mat-button routerLink="/login">Logout</button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav disableClose class="sidenav-inner-container">
    <p class="sidenav-title">Menu items</p>
    <mat-nav-list class="nav-list-container">
      <a mat-list-item
         routerLink="/admin/dashboard"
         routerLinkActive="active"
         (click)="sidenav.close()">Dashboard</a>
      <a mat-list-item
         routerLink="/admin/devices"
         routerLinkActive="active"
         (click)="sidenav.close()">Devices</a>
      <a mat-list-item
         routerLink="/admin/users"
         routerLinkActive="active"
         (click)="sidenav.close()">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

