:host {
  x-chartist {
    ::ng-deep.ct-chart-line {
      .ct-series.ct-series-a {
        .ct-area {
        }
        .ct-line {
          stroke-width: 2px;
        }
      }
    }
  }
}

:host(.green) {
  x-chartist {
    ::ng-deep.ct-chart-line {
      .ct-series.ct-series-a {
        .ct-area {
          fill: #008000;
        }
        .ct-line {
          stroke: #008000;
        }
      }
    }
  }
}
