/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'pallete';

html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  .toaster-error {
    background-color: #FF0000;
    color: #fff;
  }
  .mat-menu-item .mat-icon {
    margin-right: 6px;
    color: $dark;
  }
}
