/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "control-panel-theme";
@import 'pallete';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/data/icons/material-icon/material-icon-fonts.woff2) format('woff2'),
  url(assets/data/icons/material-icon/material-icon-fonts.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }
  .toaster-error {
    background-color: #FF0000;
    color: #fff;
  }
  .mat-menu-item .mat-icon {
    margin-right: 6px;
    color: $dark;
  }

  .mat-success {
    color: $success
  }

  .control-panel-ui-package,
  .control-panel-ui-payment,
  .payment-list_item {
    opacity: 1;
    user-select: none;
    &.cdk-drag-preview {
      @include mat-elevation(12);
      background-color: #FFF;
      cursor: move;
    }
    &.cdk-drag-placeholder {
      opacity: 0;
    }
  }
  .cdk-drop-list-dragging .control-panel-ui-package:not(.cdk-drag-placeholder),
  .cdk-drop-list-dragging .control-panel-ui-payment:not(.cdk-drag-placeholder),
  .cdk-drop-list-dragging .payment-list_item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  .payment-list_item {
    &.cdk-drag-preview {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
    }
  }
  // remove if need show disabled options
  .mat-option-disabled {
    display: none;
  }
  .light-theme {
    @include angular-material-theme($control-panel-light-theme);
    color: map-get($dark-color, 500);
    .mat-flat-button.mat-accent {
      color: #fff;
    }
  }
  .bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }

  .word-break {
    word-break: break-word;
  }
  // styles from bootstrap
  .w-100 {
    width: 100%;
  }
  .d-flex {
    display: flex;
  }

  .sync-action {
    display: block;
    right: 10px;
    top: 5px;
    z-index: 2;
    padding: .3rem .3rem .3rem 1rem ;
    margin: .5rem;
    border-radius: 5px;
    background-color: rgba(map-get($dark-color, 500), .7);
  }
}
