:host {
  display: block;
  width: 250px;
  padding: 15px;
  .age-field {
    max-width: 80px;
  }
  .gender-filter {
    &>* {
      display: block;
    }
  }
  .registered-filter {
    .dates {
      display: flex;
      justify-content: space-between;
      .data {
        max-width: 100px;
      }
    }
  }
}
