<div class="row">
  <div class="col">
    <h4>{{translateService.instant('USER')}}</h4>
    <form [formGroup]="userForm" class="user-form light-theme">
      <mat-form-field>
        <input matInput placeholder="{{'USER_NAME' | translate}}" formControlName="name">
        <mat-error>
          {{'REQUIRED_FIELD' | translate:[translateService.instant('USER_NAME')]}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'NICK_NAME' | translate}}" formControlName="display_name">
      </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="{{'USER_DATE_OF_BIRTH_DAY' | translate}}"
                   formControlName="birthday" (dateChange)="dayOfBirthChange($event.value)"
                   [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      <div class="age-gender_wrapper">
        <mat-form-field class="age-field">
          <mat-label>{{'USER_AGE' | translate}}</mat-label>
            <input matInput formControlName="age" (change)="ageChange()">
        </mat-form-field>
        <div class="gender-field">
          <p>{{'USER_GENDER_LABEL' | translate}}</p>
          <mat-radio-group aria-label="Select gender" formControlName="gender" class="gender-select">
            <mat-radio-button value="male">{{'USER_GENDER_MALE' | translate}}</mat-radio-button>
            <mat-radio-button value="female">{{'USER_GENDER_FEMALE' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <mat-form-field>
        <input matInput placeholder="{{'EMAIL' | translate}}" formControlName="email">
        <mat-error *ngIf="userForm.get('email')?.hasError('pattern') && !userForm.get('email')?.hasError('required')">
          {{'USER_FORM_VALIDATION_EMAIL' | translate}}
        </mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
          {{'REQUIRED_FIELD' | translate:[translateService.instant('EMAIL')]}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #phoneInput placeholder="{{'PHONE' | translate}}" formControlName="phone"
               mask=" (00) 000 00 00">
        <mat-error>
          {{'REQUIRED_FIELD' | translate:[translateService.instant('PHONE')]}}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="col-12">
    <div class="action-button-group">
      <button mat-raised-button
              color="warn"
              type="button"
              [disabled]="adding"
              (click)="onCancelHandler()">{{'DIALOG_CANCEL_BUTTON_LABEL' | translate }}</button>
      <button mat-raised-button
              color="primary"
              [disabled]="adding"
              type="submit"
              (click)="onSubmitHandler()">
        {{mode === 'edit' ? translateService.instant('USER_FORM_EDIT_BUTTON_LABEL') : translateService.instant('USER_FORM_ADD_BUTTON_LABEL')}}
      </button>
    </div>
  </div>
</div>
