:host {
  .user-form {
    display: flex;
    flex-direction: column;

    .gender-select {
      margin-bottom: 10px;
      .mat-radio-button {
        margin-right: 10px;
      }
    }
  }

  .action-button-group {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }

  .avatars_toolbar {
    display: flex;
    justify-content: flex-end;
  }

  .avatars-body {
    max-height: 450px;
    overflow-y: auto;
  }

  .avatars-table {
    width: 100%;
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
      padding-left: 10px;
    }
  }

  .avatar-form {
    display: flex;
    flex-direction: column;
    .gender-select {
      margin-bottom: 10px;
      .mat-radio-button {
        margin-right: 10px;
      }
    }
    .avatar-form-action {
      display: flex;
      justify-content: flex-end;
      button {
        margin-left: 10px;
      }
    }
  }
}
