<div class="row">
  <div class="col-md-6">
    <h4>{{translateService.instant('USER')}}</h4>
    <form [formGroup]="userForm" class="user-form">
      <mat-form-field>
        <input matInput placeholder="{{'USER_NAME' | translate}}" formControlName="userName" required>
        <mat-error>
          {{'REQUIRED_FIELD' | translate:[translateService.instant('USER_NAME')]}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'NICK_NAME' | translate}}" formControlName="nickName" required>
        <mat-error>
          {{'REQUIRED_FIELD' | translate:[translateService.instant('NICK_NAME')]}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="{{'USER_DATE_OF_BIRTH_DAY' | translate}}"
             formControlName="dateOfBirth" (dateChange)="dayOfBirthChange($event.value)"
             [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        {{'REQUIRED_FIELD' | translate:[translateService.instant('USER_DATE_OF_BIRTH_DAY')]}}
      </mat-error>
    </mat-form-field>
      <mat-form-field>
        <input matInput number placeholder="{{'USER_AGE' | translate}}" formControlName="age"
               (input)="ageChange(+$event.target.value)">
        <mat-error *ngIf="userForm.get('age')?.hasError('max') && !userForm.get('age')?.hasError('required')">
          {{'USER_FORM_VALIDATION_AGE_MAX' | translate}}
        </mat-error>
        <mat-error *ngIf="userForm.get('age')?.hasError('required')">
          {{'REQUIRED_FIELD' | translate:[translateService.instant('USER_AGE')]}}
        </mat-error>
      </mat-form-field>
      <p>{{'USER_GENDER_LABEL' | translate}}</p>
      <mat-radio-group aria-label="Select gender" formControlName="gender" class="gender-select">
        <mat-radio-button value="male">{{'USER_GENDER_MALE' | translate}}</mat-radio-button>
        <mat-radio-button value="female">{{'USER_GENDER_FEMALE' | translate}}</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input matInput placeholder="{{'EMAIL' | translate}}" formControlName="email">
        <mat-error *ngIf="userForm.get('email')?.hasError('pattern') && !userForm.get('email')?.hasError('required')">
          {{'USER_FORM_VALIDATION_EMAIL' | translate}}
        </mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
          {{'REQUIRED_FIELD' | translate:[translateService.instant('EMAIL')]}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #phoneInput placeholder="{{'PHONE' | translate}}" formControlName="phone" mask=" (00) 000 00 00">
        <mat-error>
          {{'REQUIRED_FIELD' | translate:[translateService.instant('PHONE')]}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="{{'USER_DESC' | translate}}" formControlName="desc" [rows]="4"></textarea>
      </mat-form-field>
    </form>
  </div>

  <!-- avatars section-->
  <div class="col-md-6">
    <h4>{{translateService.instant('USER_AVATARS')}}</h4>
    <div class="avatars_toolbar">
      <button mat-button
              (click)="addAvatar()"
              *ngIf="userAvatars.length < 5"
      ><mat-icon>add</mat-icon> {{translateService.instant('TABLE_ADD')}}</button>
    </div>
    <div class="avatars-body">
      <table mat-table [dataSource]="userAvatars" class="avatars-table" *ngIf="userAvatars.length">
        <ng-container [matColumnDef]="column" *ngFor="let column of simpleDataColumn;">
          <th mat-header-cell *matHeaderCellDef>
            <span>{{translateService.instant(propertyMap[column])}}</span></th>
          <td mat-cell *matCellDef="let row">
            <span class="table_cell-inner">{{row[column]}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef>
            <span>{{translateService.instant(propertyMap['dateOfBirth'])}}</span></th>
          <td mat-cell *matCellDef="let item">
            <span class="table_cell-inner">{{item.dateOfBirth.format('L')}}</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <form [formGroup]="avatarForm" class="avatar-form" *ngIf="editing">
        <mat-form-field>
          <input matInput placeholder="{{'USER_NAME' | translate}}" formControlName="userName" required>
          <mat-error>
            {{'REQUIRED_FIELD' | translate:[translateService.instant('USER_NAME')]}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="{{'USER_DATE_OF_BIRTH_DAY' | translate}}"
                 formControlName="dateOfBirth" (dateChange)="dayOfBirthChange($event.value, true)"
                 [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            {{'REQUIRED_FIELD' | translate:[translateService.instant('USER_DATE_OF_BIRTH_DAY')]}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput number placeholder="{{'USER_AGE' | translate}}" formControlName="age" (input)="ageChange(+$event.target.value, true)">
          <mat-error *ngIf="avatarForm.get('age')?.hasError('max') && !avatarForm.get('age')?.hasError('required')">
            {{'USER_FORM_VALIDATION_AGE_MAX' | translate}}
          </mat-error>
          <mat-error *ngIf="avatarForm.get('age')?.hasError('required')">
            {{'REQUIRED_FIELD' | translate:[translateService.instant('USER_AGE')]}}
          </mat-error>
        </mat-form-field>
        <p>{{'USER_GENDER_LABEL' | translate}}</p>
        <mat-radio-group aria-label="Select gender" formControlName="gender" class="gender-select">
          <mat-radio-button value="male">{{'USER_GENDER_MALE' | translate}}</mat-radio-button>
          <mat-radio-button value="female">{{'USER_GENDER_FEMALE' | translate}}</mat-radio-button>
        </mat-radio-group>
        <div class="avatar-form-action">
          <button mat-raised-button
                  color="warn"
                  type="button"
                  (click)="editing = !editing">{{'DIALOG_CANCEL_BUTTON_LABEL' | translate }}</button>
          <button mat-raised-button
                  color="primary"
                  type="button"
                  (click)="avatarSubmitHandler()">Ok</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12">
    <div class="action-button-group">
      <button mat-raised-button
              color="warn"
              type="button"
              [disabled]="editing"
              (click)="onCancelHandler()">{{'DIALOG_CANCEL_BUTTON_LABEL' | translate }}</button>
      <button mat-raised-button
              color="primary"
              [disabled]="editing"
              type="submit"
              (click)="onSubmitHandler()">{{(mode === 'edit' ? 'USER_FORM_EDIT_BUTTON_LABEL' : 'USER_FORM_ADD_BUTTON_LABEL') | translate }}</button>
    </div>
  </div>
</div>
