@import "control-panel-theme";

:host {
  .filter_wrapper {
    background-color: $white;
  }
  .account-table {
    width: 100%;
    .control-panel-ui-table-amount {
      &_positive {
        color: $success;
      }
      &_negative {
        color: $warn;
      }
      &_null {
        color: $inactive;
      }
    }
  }
}
