<div class="light-theme">
    <control-panel-ui-card class="primary">
        <div panelUICardHeaderTitle>{{'ACCOUNTS_LIST_TITLE' | translate}}</div>
        <div panelUICardContent>
<!--            <div class="d-flex align-items-center justify-content-end">-->
<!--                <span class="mr-4">Last synchronization was at {{(service.lastSyncTime$ | async) | date:'dd.MM.yyyy HH:mm:ss'}}</span>-->
<!--                <button mat-raised-button color="primary" (click)="service.synchronize()">Sync</button>-->
<!--            </div>-->
            <control-panel-ui-card [hideHeader]="true" class="no-margin">
                <div panelUICardContent>
                    <h4>{{'BALANCE' | translate}}: </h4>
                    <div class="filter_wrapper d-flex align-items-center">
                        <mat-checkbox [(ngModel)]="filterState.positive" class="mr-3"
                                      (ngModelChange)="getFilteredResult()">{{'POSITIVE' | translate}}</mat-checkbox>
                        <mat-checkbox [(ngModel)]="filterState.negative"
                                      (ngModelChange)="getFilteredResult()">{{'NEGATIVE' | translate}}</mat-checkbox>
                    </div>
                </div>
            </control-panel-ui-card>
            <control-panel-ui-table [displayedColumns]="['id', 'user', 'balance']"
                                    [simpleDataColumn]="['id']"
                                    [data]="service.accounts$ | async"
                                    [itemCount]="(service.accounts$ | async)?.length"
                                    (pageChanges)="paginationChangeHandler($event)"></control-panel-ui-table>
            <control-panel-ui-empty *ngIf="!(service.accounts$ | async)?.length" class="black"></control-panel-ui-empty>
        </div>
    </control-panel-ui-card>
</div>

<control-panel-trigger [callBack]="service.refresh.bind(service)"></control-panel-trigger>
