@import "pallete";
:host {
  .table {
    width: 100%;
    th.mat-header-cell {
      min-width: 60px;
      position: relative;
      span {
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
      }
      &:before {
        content: '&nbsp;';
        visibility: hidden;
      }
      &.submenu_header {
        max-width: 20px;
      }
    }
    th.mat-header-cell:first-of-type {
      padding-left: 0;
    }
    td.mat-cell.simple-data {
      position: relative;
      min-width: 50px;
      &:before {
        content: '&nbsp;';
        visibility: hidden;
      }
      span {
        position: absolute;
        left: 0;
        right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.submenu_cell {
        margin: 20px;
      }
    }
    .mat-row {
      .more {
        font-size: 16px;
      }
      .table_cell-inner {
        padding-left: 10px;
        white-space: nowrap;
        .status-list {
          padding: 0;
          .mat-icon {
            width: 20px;
            height: 20px;
            color: rgba($dark, .7);
            margin-right: 8px;
          }
        }
      }
      .mat-column-submenu {
        padding: 0;
        &.mat-table-sticky {
          border-left: 1px solid #e0e0e0;
          background-color: $white;
        }
      }

      //&.selected {
      //  background-color: rgba(0, 0, 0, .05);
      //}

      .mat-column-submenu {
        text-align: right;
      }
      &:hover {
        background-color: rgba(0, 0, 0, .05);
        cursor: pointer;
      }
    }

    .status-icon {
      color: #FF0000;

      &.active {
        color: #00AE12;
      }
    }
  }
  .table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .table-toolbar-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
