@import "pallete";
:host {
  .table {
    width: 100%;
    th.mat-header-cell {
      span {
        padding-left: 10px;
      }
    }
    .mat-row {
      .table_cell-inner {
        padding-left: 10px;
        white-space: nowrap;
        .status-list {
          padding: 0;
          .mat-icon {
            width: 20px;
            height: 20px;
            color: rgba($dark, .7);
            margin-right: 8px;
          }
        }
      }
      .mat-column-submenu {
        padding: 0;
        &.mat-table-sticky {
          border-left: 1px solid #e0e0e0;
          background-color: $white;
        }
      }

      //&.selected {
      //  background-color: rgba(0, 0, 0, .05);
      //}

      .mat-column-submenu {
        text-align: right;
      }
      &:hover {
        background-color: rgba(0, 0, 0, .05);
        cursor: pointer;
      }
    }

    .status-icon {
      color: #FF0000;

      &.active {
        color: #00AE12;
      }
    }
  }
  .table-wrapper {
    .table-toolbar-wrapper {
      display: flex;
      justify-content: flex-end;
    }
    overflow-x: auto;
    overflow-y: hidden;
  }
}
