<div class="table-toolbar-wrapper">
    <button mat-raised-button *ngIf="iconSet"
            color="primary"
            (click)="addEntity()">
        <mat-icon>{{iconSet}}</mat-icon>
        {{translateService.instant('TABLE_ADD')}}
    </button>
</div>
<div class="table-wrapper">

    <mat-table matSort [dataSource]="dataSource" class="table" (matSortChange)="sortChange($event)">
        <!--data cells-->
        <ng-container [matColumnDef]="column" *ngFor="let column of simpleDataColumn;">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn(column)" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap[column] || column)}}</span></mat-header-cell>
            <mat-cell *matCellDef="let row" class="simple-data">
                <ng-container *ngIf="!isBoolean(row[column])">
                    <span matTooltip="{{row[column]}}" [matTooltipShowDelay]="1000"
                          class="table_cell-inner">{{row[column]}}</span>
                </ng-container>
                <ng-container *ngIf="isBoolean(row[column])">
                    <span class="table_cell-inner"><mat-icon
                            [color]="row[column] ? 'success' : 'warn'">{{row[column] ? 'check_circle' : 'cancel_circle'}}</mat-icon></span>
                </ng-container>

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expiresAt">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['expiresAt'] || 'expiresAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.expiresAt | date: "dd.MM.yyyy HH:mm"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deletedAt">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['deletedAt'] || 'deletedAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.deletedAt | date: "dd.MM.yyyy HH:mm"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hiredAt">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['hiredAt'] || 'hiredAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.hiredAt | date: "dd.MM.yyyy HH:mm"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="firedAt">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['firedAt'] || 'firedAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.hiredAt | date: "dd.MM.yyyy HH:mm"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['createdAt'] || 'createdAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.createdAt | date: "dd.MM.yyyy"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['updatedAt'] || 'updatedAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.updatedAt | date: "dd.MM.yyyy"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['createdAt'] || 'createdAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.created_at | date: "dd.MM.yyyy HH:mm"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['updatedAt'] || 'updatedAt')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.updated_at | date: "dd.MM.yyyy HH:mm"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['timestamp'] || 'timestamp')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <span class="table_cell-inner">{{item.timestamp | date: "dd.MM.yyyy HH:mm:ss"}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="coins">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['coins'] || 'coins')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div class="amount d-flex align-items-center justify-content-between">
                    <div class="table_cell-inner">{{item.coins.amount}}</div>
                    <div>
                        <mat-icon svgIcon="coin"></mat-icon>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['price'] || 'price')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div class="amount d-flex align-items-center justify-content-between">
                    <div class="table_cell-inner">{{item.price.amount}}</div>
                    <div>BYN</div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['amount'] || 'amount')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div class="amount d-flex align-items-center justify-content-between">
                    <div class="table_cell-inner">{{item.amount.amount}}</div>
                    <div>{{item.amount.currency}}</div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['amount'] || 'amount')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div class="amount d-flex align-items-center justify-content-between">
                    <div class="table_cell-inner">{{item.total.amount}}</div>
                    <div>{{item.total.currency}}</div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="charges">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['charges'] || 'charges')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div>
                    <ng-container *ngFor="let charge of item.charges">
                        <ng-container *ngFor="let recipient of charge.recipients">
                            <div class="table_cell-inner">{{recipient.profile.display_name}}</div>
                            <div class="table_cell-inner">{{recipient.profile.email}}</div>
                        </ng-container>
                    </ng-container>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['user'] || 'user')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div class="d-flex flex-column">
                    <div class="mt-1 mb-1">
                        name: {{item.user.display_name}}
                    </div>
                    <div class="mt-1 mb-1">
                        nickname: {{item.user.nickname}}
                    </div>
                    <div class="mt-1 mb-1">
                        email: {{item.user.email}}
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="balance">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
                <span>{{translateService.instant(propertyMap['balance'] || 'balance')}}</span></mat-header-cell>
            <mat-cell *matCellDef="let item">
                <div class="table_cell-inner">
                    {{getBalance(item.balance)}} {{item.balance[0].currency}}
                </div>
            </mat-cell>
        </ng-container>

        <!--statuses cell-->
        <ng-container matColumnDef="statuses" class="table_cell-inner">
            <mat-header-cell mat-sort-header [disabled]="isSortedColumn('statuses')" *matHeaderCellDef>
                {{translateService.instant(propertyMap['statuses'])}}
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
        <span class="table_cell-inner">
          <div class="status-list">
            <mat-icon *ngFor="let status of item.statuses" [ngClass]="status.name.split(' ').join('').toLowerCase()"
                      [svgIcon]="status.name.split(' ').join('').toLowerCase()"
                      matTooltip="{{status.name}}"></mat-icon>
          </div>
        </span>
            </mat-cell>
        </ng-container>
        <!--submenu cell-->
        <ng-container matColumnDef="submenu" [stickyEnd]="(point.handset | async)">
            <mat-header-cell *matHeaderCellDef class="submenu_header"></mat-header-cell>
            <mat-cell *matCellDef="let item" class="submenu_cell">
                <button mat-icon-button [matMenuTriggerFor]="staffMemberMenu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #staffMemberMenu="matMenu">
                    <button mat-menu-item (click)="delete.emit(item)">
                        <mat-icon>delete</mat-icon>
                        {{translateService.instant('TABLE_DELETE')}}
                    </button>
                    <button mat-menu-item (click)="edit.emit(item)">
                        <mat-icon>edit</mat-icon>
                        {{translateService.instant('TABLE_EDIT')}}
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roles" class="table_cell-inner">
            <mat-header-cell
                    *matHeaderCellDef>{{translateService.instant(propertyMap['roles']) || 'roles'}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <span class="table_cell-inner">
                    <ul>
                      <li *ngFor="let role of row.roles; let i=index;" [hidden]="i > 4">
                        <span *ngIf="i < 4">{{role}}</span>
                        <span *ngIf="i === 4">{{translateService.instant('OTHERS')}}</span>
                      </li>
                    </ul>
                </span>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.min-height]="minRowHeight + 'px'"
                 [ngClass]="{'selected': selection.isSelected(row)}"
                 (click)="selectRow(row)"></mat-row>
    </mat-table>
</div>
<mat-paginator #paginator [pageSizeOptions]="[25, 50]" *ngIf="itemCount"
               [length]="itemCount" showFirstLastButtons
               (page)="changePageHandler($event)"></mat-paginator>
