<div class="table-wrapper">
  <div class="table-toolbar-wrapper">
    <button mat-raised-button *ngIf="iconSet"
            color="primary"
            (click)="addEntity()">
      <mat-icon>{{iconSet}}</mat-icon>
      {{translateService.instant('TABLE_ADD')}}
    </button>
  </div>
  <table mat-table matSort [dataSource]="dataSource" class="table" (matSortChange)="sortChange($event)">
    <!--data cells-->
    <ng-container [matColumnDef]="column" *ngFor="let column of simpleDataColumn;">
      <th mat-header-cell mat-sort-header [disabled]="isSortedColumn(column)" *matHeaderCellDef>
        <span>{{translateService.instant(propertyMap[column])}}</span></th>
      <td mat-cell *matCellDef="let row">
        <span class="table_cell-inner">{{row[column]}}</span>
      </td>
    </ng-container>
    <!--registered cell-->
    <ng-container matColumnDef="registered">
      <th mat-header-cell mat-sort-header [disabled]="isSortedColumn('registered')" *matHeaderCellDef>
        <span>{{translateService.instant(propertyMap['registered'])}}</span></th>
      <td mat-cell *matCellDef="let item">
        <span class="table_cell-inner">{{item.registered.format('L')}}</span>
      </td>
    </ng-container>

    <!--statuses cell-->
    <ng-container matColumnDef="statuses" class="table_cell-inner">
      <th mat-header-cell mat-sort-header [disabled]="isSortedColumn('statuses')" *matHeaderCellDef>
        {{translateService.instant(propertyMap['statuses'])}}
      </th>
      <td mat-cell *matCellDef="let item">
        <span class="table_cell-inner">
          <div class="status-list">
            <mat-icon *ngFor="let status of item.statuses" [ngClass]="status.name.split(' ').join('').toLowerCase()"
                      [svgIcon]="status.name.split(' ').join('').toLowerCase()"
                      matTooltip="{{status.name}}"></mat-icon>
          </div>
        </span>
      </td>
    </ng-container>
    <!--submenu cell-->
    <ng-container matColumnDef="submenu" [stickyEnd]="(point.handset | async)">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button [matMenuTriggerFor]="staffMemberMenu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #staffMemberMenu="matMenu">
          <button mat-menu-item (click)="delete.emit(item)">
            <mat-icon>delete</mat-icon>
            {{translateService.instant('TABLE_DELETE')}}
          </button>
          <button mat-menu-item (click)="edit.emit(item)">
            <mat-icon>edit</mat-icon>
            {{translateService.instant('TABLE_EDIT')}}
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <!--permission cell-->
    <ng-container matColumnDef="permissions" class="table_cell-inner">
      <th mat-header-cell *matHeaderCellDef>{{translateService.instant(propertyMap['permissions'])}}</th>
      <td mat-cell *matCellDef="let group">
        <span class="table_cell-inner">
          <ul>
          <li *ngFor="let permission of group.permissions; let i=index;" [hidden]="i > 4">
            <span *ngIf="i < 4">{{permission.name}}</span>
            <span *ngIf="i === 4">{{translateService.instant('OTHERS')}}</span>
          </li>
        </ul>
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'selected': selection.isSelected(row)}"
        (click)="selectRow(row)"></tr>
  </table>
</div>
<mat-paginator #paginator [pageSizeOptions]="[50, 100, 200]"
               [length]="itemCount"
               [pageIndex]="paginatorInit?.pageIndex"
               [pageSize]="paginatorInit?.pageSize" showFirstLastButtons
               (page)="changePageHandler($event)"></mat-paginator>
