@import 'control-panel-theme';

:host {
  @include d-block();
  height: 100%;

  .user-component-wrapper {
    height: 100%;

    .extended-filters_wrapper {
      width: 300px;
      //background: #fff;
      //height: 100%;
    }

    .mat-drawer {
      background-color: rgba($main_bg_color, .7);
    }

    .mat-drawer-content {
      @include custom-scroll();
    }

    button.extended-filters {
      position: absolute;
      right: 15px;
      top: 15px;
    }

    .user-table-toolbar {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-bottom: 1rem;
      flex-wrap: wrap;
    }

    .mat-column-select {
      overflow: initial;
    }
  }
}
