<mat-sidenav-container class="user-component-wrapper" *ngIf="!userOutlet.isActivated">
  <mat-sidenav #extendedFilter
               mode="{{(point?.handset | async) ? 'over' : 'side'}}"
               [opened]="!(point?.handset | async)"
               position="end">
    <div class="extended-filters_wrapper">
      <extended-filters [config]="extendedFiltersConfig" (applyFilter)="applyFilter($event)"></extended-filters>
    </div>
  </mat-sidenav>
  <mat-sidenav-content #scrollContainer>
    <div class="light-theme">
      <control-panel-ui-card panelUIColor="primary">
        <div panelUICardHeaderTitle>{{translateService.instant('USERS_TABLE_TITLE')}}</div>
        <div panelUICardContent>
          <div class="user-table-toolbar">
            <div class="users-table-filter">
                <control-panel-ui-quick-filter #quickFilter (filterChange)="applyQuickFilter($event)"></control-panel-ui-quick-filter>
            </div>
            <button
              *ngIf="(point.handset | async)"
              mat-icon-button
              (click)="extendedFilter.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <control-panel-ui-table
            [data]="(service.entities$ | async)"
            [displayedColumns]="displayedColumns"
            [simpleDataColumn]="columnWithData"
            [listSortedColumn]="sortedColumn"
            [itemCount]="service.requestHelper.Count"
            [resetPagination]="resetPagination"
            [card]="true"
            storageKey="VISITORS"
            iconSet="person_add"
            (edit)="operationWithUser('edit', $event)"
            (delete)="operationWithUser('delete', $event)"
            (add)="operationWithUser('add')"
            (boundCard)="boundCard($event)"
            (sortChanges)="sortChangeHandler($event)"
            (pageChanges)="paginationChangeHandler($event)"></control-panel-ui-table>
        </div>
      </control-panel-ui-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #form let-data>
    <control-panel-ui-form [item]="data"
                           [mode]="_mode"
                           (save)="submit($event)"
                           (cancel)="_dialog.close()"
                           ></control-panel-ui-form>
</ng-template>

<router-outlet #userOutlet="outlet" (deactivate)="cd.markForCheck()"></router-outlet>
