@import "pallete";

:host {
  display: block;
  height: 100%;
  z-index: 0;
  &:before {
    content: "";
    position: fixed;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    z-index: -1;

    display: block;
    background-image: url("../assets/data/images/login_bg.jpg");
    background-size: cover;

    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
}
