<control-panel-ui-card>
  <div panelUICardHeaderTitle>{{translations.instant('PERMISSIONS_LIST')}}</div>
  <div panelUICardContent>
    <control-panel-ui-table
      [displayedColumns]="columns"
      [simpleDataColumn]="['name']"
      [listSortedColumn]="sortedColumn"
      [data]="(service.permissions$ | async)?.items"
      [itemCount]="(service.permissions$ | async)?.count"
      [storageKey]="service.STORAGE_KEY"
      iconSet="add"
      (edit)="openDialog('edit', $event)"
      (delete)="showConfirmDialog($event)"
      (add)="openDialog('add')"
      (pageChanges)="changesHandler($event)"
      (sortChanges)="changesHandler($event)"></control-panel-ui-table>
  </div>
</control-panel-ui-card>
