<control-panel-ui-card>
  <div panelUICardHeaderTitle>Permission list</div>
  <div panelUICardContent>
    <control-panel-ui-table
      [displayedColumns]="columns"
      [simpleDataColumn]="['name']"
      [data]="(service.permissions$ | async)"
      [itemCount]="(service.permissionAmount$ | async)"
      iconSet="add"
      (edit)="openDialog('edit', $event)"
      (delete)="showConfirmDialog($event)"
      (add)="openDialog('add')"
      (pageChanges)="pageChangeHandler($event)"></control-panel-ui-table>
  </div>
</control-panel-ui-card>
