// primary color
//$primary: #AB47BC;
// back drop color
$backdrop: rgba(0,0,0,.2);
// dark
$dark: #000;
// warning
$warn: #cf0000;
// info
$info: #0000ff;
// success
$success: #007a00;

$inactive: rgba(0, 0, 0, .5);

$info: #0000ff;
