// primary color
$primary: #AB47BC;
// back drop color
$backdrop: rgba(0,0,0,.2);
// white
$white: #FFF;
// dark
$dark: #000;
// warning
$warn: #FF0000;
// info
$info: #0000ff;
// success
$success: #008000;
