<div class="login-container">
    <div class="logo-container">
        <img src="./assets/data/images/logo.png" height="200" alt="Teleport">
    </div>
    <ng-container *ngTemplateOutlet="enterCard ? ws : card"></ng-container>
    <ng-template #card>
        <p class="wrapper">
            <mat-form-field class="login-field" color="accent">
                <input matInput
                       placeholder="{{translations.instant('CARD_LABEL')}}"
                       [formControl]="cardControl">
                <mat-error *ngIf="cardControl.errors?.required">
                    {{'REQUIRED_FIELD' | translate:[translations.instant('CARD_LABEL')]}}
                </mat-error>
                <mat-error *ngIf="cardControl?.errors?.max">{{'MAX_VALUE_ERROR' | translate}} {{cardControl?.errors?.max.max}}</mat-error>
                <mat-error *ngIf="cardControl?.errors?.incorrect">{{'INVALID_PATTERN' | translate}}</mat-error>
            </mat-form-field>
                <language-switcher [placeholder]="translations.instant('LANGUAGE_SWITCHER_LABEL')"
                                   (changeLocaleStart)="loaderService.dispatchShowLoader(true)"></language-switcher>
            <button mat-raised-button
                    color="primary"
                    class="mb-3"
                    (click)="onSubmit()"
                    type="submit">{{translations.instant('LOGIN_PAGE_LOGIN_BUTTON_LABEL')}}</button>
            <button *ngIf="wsAvailable" mat-button color="accent" (click)="enterCard = !enterCard">{{'ENTER_CARD' | translate}}</button>
        </p>

    </ng-template>
    <ng-template #ws>
        <div class="wrapper">
            <p class="ws__message">{{'ENTER_CARD' | translate}}</p>
            <button mat-button color="accent" (click)="enterCard = !enterCard">{{'ENTER_CARD_MANUALLY' | translate}}</button>
        </div>
    </ng-template>
</div>
<!--TODO dummy message-->
<button id="mock-card" mat-flat-button color="accent" (click)="wsService.dummyMessage()">Mock card enter</button>
