@import "control-panel-theme";

:host {
  height: 100%;
  .login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo-container {
      padding: 10px 30px;
      //background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(255,255,255,1) 100%);
      margin-bottom: 10px;
      margin-top: -200px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
    }
  }

  .login-field {
    margin-bottom: 1rem;
    color: #FFF;
  }

  .ws__message {
    font-size: 2rem;
    color: white;
  }
  #mock-card {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem 1rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .5);
  }
}
