<div class="login-container">
  <div class="logo-container">
    <img src="../../../assets/data/images/logo.png" height="200" alt="Teleport">
  </div>
  <form class="login-form" [formGroup]="credential" (ngSubmit)="onSubmit()">
    <mat-form-field class="login-field">
      <input matInput
             placeholder="{{translateService.instant('LOGIN_PAGE_LOGIN_LABEL')}}"
             formControlName="login">
      <mat-error>
        {{'REQUIRED_FIELD' | translate:[translateService.instant('LOGIN_PAGE_LOGIN_LABEL')]:(translateService.locale | async)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-field">
      <input matInput
             placeholder="{{translateService.instant('LOGIN_PAGE_PASSWORD_LABEL')}}"
             type="password"
             formControlName="password">
      <mat-error>
        {{'REQUIRED_FIELD' | translate:[translateService.instant('LOGIN_PAGE_PASSWORD_LABEL')]:(translateService.locale | async)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="permission">
        <mat-option value="admin">admin</mat-option>
        <mat-option value="staff">staff</mat-option>
      </mat-select>
    </mat-form-field>
    <language-switcher [placeholder]="translateService.instant('LANGUAGE_SWITCHER_LABEL')"
                       (changeLocaleStart)="loaderService.dispatchShowLoader(true)"></language-switcher>
    <button mat-raised-button
            color="primary"
            type="submit">{{translateService.instant('LOGIN_PAGE_LOGIN_BUTTON_LABEL')}}</button>
  </form>
</div>
