@import "control-panel-theme";
:host {
  min-width: 250px;
  color: mat-color($dark-color, 500);
  .hardware-item_wrapper {
    padding: 2rem 1rem 1rem 1rem;
    margin: 10px;
    cursor: pointer;
    background-color: $white;
    @include gradient-border(#EB00FF, #0087b0);
    p {
      display: flex;
      align-items: center;
      .bold {
        flex: 0 0 25%;
      }
    }
    .hardware-item_title {
      text-align: center;
    }
    .metrics {
      padding: 5px 10px;
      background-color: $white;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 100;
      p {
        margin: 5px 0;
      }
    }
  }
  .status {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .mat-icon {
      margin: 0 .5rem;
      &.authorized {
        color: $success;
      }
      &.unauthorized {
        color: $backdrop;
      }
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  .bold {
    font-weight: 700;
  }
  .word-break {
    word-break: break-word;
  }
  .mat-icon {
    &.offline {
      color: $warn;
    }
    &.online {
      color: $success;
    }
  }
}
