<div class="hardware-item_wrapper mat-elevation-z2" (click)="goToDevice()">
  <div class="hardware-item_title">
    <h4>{{item.TYPE}}</h4>
  </div>
  <p class="word-break">
    <span class="bold">Id:</span> {{item.id}}
  </p>
  <p><span class="bold">Online:</span> {{item.online | date:'dd.MM.yyyy'}}</p>
  <p><span class="bold">Token: </span>{{item.token}}</p>
  <p><span class="bold">Ref: </span>{{item.ref}}</p>
  <p class="status">
    <span class="bold">Status:</span>
    <mat-icon [ngClass]="{'authorized': item.authorized, 'unauthorized': !item.authorized}">power_settings_new</mat-icon>
    &nbsp;
    <span>({{item.authorized ? 'Authorized' : 'Unauthorized'}})</span>
  </p>
  <div class="actions">
    <button mat-raised-button color="primary" *ngIf="!item.authorized" (click)="grant.emit(item)">Grant</button>
    <button mat-raised-button color="warn" *ngIf="item.authorized" (click)="revoke.emit(item)">Revoke</button>
  </div>
</div>
