@import "pallete";
:host {
  min-width: 250px;
  .hardware-item_wrapper {
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    .hardware-item_title {
      text-align: center;
    }
    .metrics {
      padding: 5px 10px;
      background-color: rgba(0,0,0, .05);
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 100;
      p {
        margin: 5px 0;
      }
    }
  }
  .status {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .mat-icon {
      margin: 0 .5rem;
      &.authorized {
        color: $success;
      }
      &.unauthorized {
        color: $backdrop;
      }
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  .bold {
    font-weight: 700;
  }
  .word-break {
    word-break: break-word;
  }
  .mat-icon {
    &.offline {
      color: $warn;
    }
    &.online {
      color: $success;
    }
  }
}
