<div class="hardware-item_wrapper mat-elevation-z2" (click)="goToDevice()">
  <div class="hardware-item_title">
    <h4>{{item.TYPE}} (ip: {{item.ip}})</h4>
  </div>
  <p>Description: {{item.description}}</p>
  <p>CPU: {{item.data.cpu.description}}</p>
  <p>LAN: {{item.data.lan.description}}</p>
  <div class="cpu_status" id="cpu_status">
    <p>CPU: {{cpuBusy}}%</p>
    <x-chartist [data]="cpuData" [type]="'Line'" [options]="chartOptions"></x-chartist>
  </div>
  <div class="lan_status" id="lan_status">
    <p>LAN: {{lanBusy}}%</p>
    <x-chartist [data]="lanData" [type]="'Line'" [options]="chartOptions"></x-chartist>
  </div>
  <p class="status">
    <span>Status:</span>
    <mat-icon [ngClass]="item.status" [matTooltip]="item.status">power_settings_new</mat-icon>
    &nbsp;
    <span>({{item.status}})</span>
  </p>
  <div *ngIf="item.amusements.length && item.isOnline()" class="active-game">
    <span>Active game: </span>
    <span><control-panel-ui-image-preview class="small" [matTooltip]="item.amusements[0].name"
                                          prefix="./assets/data/images/"
                                          [url]="item.amusements[0].logo"></control-panel-ui-image-preview></span>
  </div>
</div>
