@import "pallete";
:host {
  .hardware-item_wrapper {
    padding: 20px;
    margin: 10px;

    .hardware-item_title {
      text-align: center;
    }
    .cpu_status, .lan_status {
      padding: 5px 10px;
      background-color: rgba(0,0,0, .05);
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 100;
      p {
        margin: 5px 0;
      }

    }
    #cpu_status {
      x-chartist {
        ::ng-deep.ct-chart-line {
          .ct-series.ct-series-a {
            .ct-area {
              fill: #008000;
            }
            .ct-line {
              stroke: #008000;
              stroke-width: 2px;
            }
          }
        }
      }
    }
    #lan_status {
      x-chartist {
        ::ng-deep.ct-chart-line {
          .ct-series.ct-series-a {
            .ct-area {
            }
            .ct-line {
              stroke-width: 2px;
            }
          }
        }
      }
    }
  }
}
