:host {
  padding: 1rem;
  display: block;
  height: 100%;
  background-color: #FFF;
  overflow-y: auto;
  //@include custom-scroll();
  .payments_wrapper, .charges_wrapper {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .payment, .charge {
    padding: 1rem;
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: .3rem;
    margin-top: .5rem;
    background-color: #FFF;

    .mat-form-field:not(.area) {
      width: 8rem;
    }
    .currency {
      width: 6rem;
    }
  }
  .delete-button {
    //font-size: .8rem;
    .mat-icon {

    }
  }

  .select {
    margin-right: 1rem;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    color: #6f2cff;
    &:hover {
      color: #4828a8;
    }
  }
  ::ng-deep.mat-list-option {
    width: auto;
    display: inline-block;
  }
  .drop-handler {
    cursor: move;
  }
}
