<mat-sidenav-container class="user-component-wrapper" *ngIf="(userService.users$ | async)">
  <mat-sidenav #extendedFilter
               mode="{{(point?.handset | async) ? 'over' : 'side'}}"
               [opened]="!(point?.handset | async)"
               position="end">
    <div class="extended-filter-wrapper">
      <control-panel-ui-extended-filters [data]="(userService.users$[0] | async)"></control-panel-ui-extended-filters>
    </div>
  </mat-sidenav>
  <mat-sidenav-content #scrollContainer>
    <control-panel-ui-card panelUIColor="primary">
      <div panelUICardHeaderTitle>{{translateService.instant('USERS_TABLE_TITLE')}}</div>
      <div panelUICardContent>
        <div class="user-table-toolbar">
          <div class="users-table-filter">
            <mat-form-field class="users-table-filter-input">
              <input matInput #filter [formControl]="quickFilter"
                     placeholder="{{translateService.instant('USERS_TABLE_FILTER_INPUT_LABEL')}}">
              <mat-icon *ngIf="filter.value"
                        matSuffix
                        (click)="quickFilter.setValue('')"
                        class="clear-filter-icon">clear
              </mat-icon>
            </mat-form-field>
            <!--TODO should removed later-->
            <mat-form-field>
              <mat-select placeholder="Select sortable column" [formControl]="listSortedColumn" multiple>
                <mat-option *ngFor="let column of listAvailableToSortColumn"
                            [value]="column">{{translateService.instant(propertyMap[column])}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="toolbar-action-buttons-group">
            <button
              *ngIf="(point.handset | async)"
              mat-icon-button
              (click)="extendedFilter.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </div>
        <control-panel-ui-table
          [data]="(userService.users$ | async)"
          [displayedColumns]="displayedColumns"
          [simpleDataColumn]="columnWithData"
          [listSortedColumn]="listSortedColumn.value"
          [itemCount]="(userService.userCount$ | async)"
          [storageKey]="userService.STORAGE_KEY"
          iconSet="person_add"
          (edit)="openDialog('edit', $event)"
          (delete)="openDialog('delete', $event)"
          (add)="openDialog('add')"
          (pageChanges)="pageChangeHandler($event)"></control-panel-ui-table>
      </div>
    </control-panel-ui-card>
  </mat-sidenav-content>
</mat-sidenav-container>

