<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened disableClose class="sidenav-inner-container">
    <div class="sidenav-title">{{translateService.instant('ADMIN_MENU_TITLE')}}</div>
    <mat-divider></mat-divider>
    <mat-nav-list class="nav-list-container">
      <a mat-list-item
         *ngFor="let menuItem of MENU_ITEMS"
         [routerLink]="menuItem.path"
         routerLinkActive="active"
         (click)="setActiveChildView()">
        <i class="material-icons">{{menuItem.icon}}</i>
        {{translateService.instant(menuItem.label)}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <!-- TODO should be used after implementation responsible layout -->
      <!--<button mat-button (click)="sidenav.toggle()">-->
      <!--<i class="material-icons">menu</i>-->
      <!--</button>-->
      <div class="toolbar-title-container">
        <a><span>{{translateService.instant(activeView)}}</span></a>
      </div>
      <language-switcher
        (changeLocaleStart)="loaderService.dispatchShowLoader(true)"></language-switcher>
      <button mat-button routerLink="/login">{{translateService.instant('ADMIN_TOOLBAR_LOGOUT_BUTTON_LABEL')}}</button>

    </mat-toolbar>
    <div class="content-container">
      <router-outlet (activate)="setActiveChildView($event)"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

