<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
               mode="{{(point?.handset | async) ? 'over' : 'side'}}"
               [opened]="!(point?.handset | async)"
               [position]="(point?.handset | async) ? 'end' : 'start'"
               class="sidenav-inner-container">
    <div class="sidenav-title">{{translateService.instant('ADMIN_MENU_TITLE')}}</div>
    <mat-divider></mat-divider>
    <mat-nav-list class="nav-list-container">
      <div class="nav-list-container_parent-container" *ngFor="let menuItem of MENU_ITEMS">
        <a mat-list-item *ngIf="menuItem.path"
           [routerLink]="menuItem.path"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           (click)="menuItem.active = !menuItem.active">
          <i class="material-icons">{{menuItem.icon}}</i>
          {{translateService.instant(menuItem.label)}}
          <mat-icon class="mat-icon-rtl-mirror expand-icon" *ngIf="menuItem.children && menuItem.children.length">
            {{menuItem.active ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </a>
        <a mat-list-item *ngIf="!menuItem.path"
           (click)="menuItem.active = !menuItem.active">
          <i class="material-icons">{{menuItem.icon}}</i>
          {{translateService.instant(menuItem.label)}}
          <mat-icon class="mat-icon-rtl-mirror expand-icon" *ngIf="menuItem.children && menuItem.children.length">
            {{menuItem.active ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </a>
        <div class="nav-list-container_children-container" *ngIf="menuItem.children && menuItem.children.length && menuItem.active">
          <a mat-list-item *ngFor="let children of menuItem.children"
             [routerLink]="children.path"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class="material-icons">{{children.icon}}</i>
            {{translateService.instant(children.label)}}
          </a>
        </div>
      </div>
    </mat-nav-list>
    <div class="side-nav_action-button">
      <language-switcher *ngIf="(point?.handset | async)"
                         theme="light"
                         (changeLocaleStart)="loaderService.dispatchShowLoader(true)"></language-switcher>
      <button mat-button *ngIf="(point?.handset | async)"
              routerLink="/login">{{translateService.instant('ADMIN_TOOLBAR_LOGOUT_BUTTON_LABEL')}}</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div class="toolbar-title-container">
        <a><span>{{translateService.instant(activeView)}}</span></a>
      </div>
      <language-switcher *ngIf="!(point?.handset | async)"
                         (changeLocaleStart)="loaderService.dispatchShowLoader(true)"></language-switcher>
      <button mat-button *ngIf="!(point?.handset | async)"
              routerLink="/login">{{translateService.instant('ADMIN_TOOLBAR_LOGOUT_BUTTON_LABEL')}}</button>
      <button mat-icon-button
              (click)="sidenav.toggle()"
              *ngIf="(point?.handset | async)">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

