:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .mat-drawer-side {
    border: 0;
  }
  .sidenav-container {
    flex: 1 1 100%;
    .sidenav-inner-container {
      background-image: url("https://demos.creative-tim.com/material-dashboard-react/static/media/sidebar-4.fc9cb053.jpg");
      background-size: cover;
      background-position: center center;
      min-width: 260px;
      color: #fff;
      ::ng-deep .mat-drawer-inner-container {
        background-color: rgba(0, 0, 0, .7);
      }
      .sidenav-title {
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin: 15px 0;
        padding: 0 15px;
      }

      .mat-divider {
        margin: 0 15px;
        border-top-color: rgba(251, 251, 251, 0.12);
      }

      .nav-list-container {
        margin: 15px 0;
        padding: 0 15px;

        .mat-list-item {
          margin: 10px 0 0;
          border-radius: 3px;
          line-height: 24px;
          height: 50px;
          color: #fff;
          font-size: 14px;
          font-weight: 300;
          i {
            margin-right: 15px;
          }

          &.active {
            background: linear-gradient(60deg, #ab47bc, #8e24aa);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(156, 39, 176,.4);
          }
        }
      }
    }

    .mat-sidenav-content {
      display: flex;
      flex-direction: column;
      .mat-toolbar {
        display: flex;
        flex: 0 0 auto;
        height: 70px;

        .toolbar-title-container {
          flex: 1 1;

          a {
            padding: 12px 30px;

            span {
              font-size: 18px;
              font-weight: 300;
            }
          }
        }
      }

      .content-container {
        display: flex;
        flex: 1 1 100%
      }
    }
  }
}
