:host {
  padding: .5rem;
  display: block;
  .bold {
    font-weight: 700;
  }
  .instances_wrapper {
    margin: 0;
    .instance {
      margin-bottom: 10px;
      min-width: 300px;
    }
  }
  .actions {
    background-color: rgba(0, 0, 0, .5);
    border-radius: .5rem;
  }
}
