<div class="actions d-flex justify-content-between align-items-center pl-3 pr-3 m-1 mb-2">
    <section class="p-2 mb-3">
        <h5 class="mb-3">{{'TYPE_FILTER' | translate}}</h5>
        <mat-radio-group [formControl]="_typeFilterControl" (change)="typeFilterHandler($event)">
            <mat-radio-button class="mr-3" *ngFor="let type of _filterTypes"
                              [value]="type">{{type.toUpperCase() | translate}}</mat-radio-button>
        </mat-radio-group>
    </section>
    <button mat-flat-button color="accent" (click)="add()" class="align-self-end mb-3">
        <mat-icon>add</mat-icon>
        {{translations.instant('ADD_SERVER_TITLE')}}
    </button>
</div>
<div class="instances_wrapper">
    <div *ngFor="let item of service.instances$ | async" class="instance">
        <control-panel-ui-item-card [item]="item" class="light-theme">
            <div class="hardware-item_title">
                <h4>{{item.display_name}}</h4>
            </div>
            <p>
                <span class="bold">{{translations.instant('SERVER_IP_ADDRESS')}}:</span>
                {{item.address}}
            </p>
            <p>
                <span class="bold">{{translations.instant('SERVER_TYPE')}}:</span>
                {{item.type.toUpperCase()}}
            </p>
            <p>
                <span class="bold">{{translations.instant('SERVER_ENABLED')}}:</span>
                <mat-icon [ngClass]="{'offline': !item.enabled, 'online': item.enabled}">
                    {{item.enabled ? 'desktop_windows' : 'desktop_access_disabled'}}
                </mat-icon>
            </p>
            <p>
                <span class="bold">{{translations.instant('SERVER_BOUND')}}:</span>
                <mat-icon [ngClass]="{'offline': !item.bound, 'online': item.bound}">
                    {{item.bound ? 'check' : 'clear'}}
                </mat-icon>
            </p>
            <p><span class="bold">{{translations.instant('SERVER_ONLINE')}}:</span>
                <mat-icon [ngClass]="{'offline': !item.online, 'online': item.online}">radio_button_checked</mat-icon>
            </p>
            <div class="action-button justify-content-between d-flex align-items-center mt-2">
                <mat-slide-toggle color="success" (change)="toggle(item)" [checked]="item.enabled"><span
                        class="label">{{(item.enabled ? 'DISABLE_SERVER' : 'ENABLE_SERVER') | translate}}</span>
                </mat-slide-toggle>
                <div>
                    <a *ngIf="item.enabled" class="game-link mr-3" href="#"
                       (click)="$event.preventDefault(); getServerGames(item)">{{'ADMIN_MENU_GAMES' | translate}}</a>
                    <button mat-icon-button
                            matTooltip="{{'TABLE_EDIT' | translate}}"
                            [matTooltipShowDelay]="500"
                            matTooltipPosition="above"
                            color="primary" (click)="edit(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                            matTooltip="{{'TABLE_DELETE' | translate}}"
                            [matTooltipShowDelay]="500"
                            matTooltipPosition="above"
                            color="warn" (click)="remove(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </control-panel-ui-item-card>
    </div>
    <control-panel-ui-empty *ngIf="!(service.instances$ | async)?.length"></control-panel-ui-empty>
</div>

<control-panel-trigger [callBack]="service.refresh.bind(service)"></control-panel-trigger>

<ng-template #formTemplate>
    <h4 mat-dialog-title>{{(_edit ? 'EDIT_SERVER_TITLE' : 'ADD_SERVER_TITLE') | translate}}</h4>
    <form [formGroup]="form" class="d-flex flex-column">
        <mat-form-field>
            <label>
                <input matInput placeholder="{{'NAME' | translate}}" formControlName="name">
            </label>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of _controllerTypes" [value]="type">{{type.toUpperCase()}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <label>
                <input matInput placeholder="{{'SERVER_IP_ADDRESS' | translate}}" formControlName="address">
            </label>
            <mat-error
                    *ngIf="form.get('address')?.errors?.required">{{translations.instant('REQUIRED_FIELD', ['ip'])}}</mat-error>
            <mat-error
                    *ngIf="form.get('address')?.errors?.pattern">{{translations.instant('SERVER_IP_INVALID_ERROR')}}</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="enabled">{{'ENABLE_SERVER' | translate}}</mat-checkbox>
    </form>
    <control-panel-ui-action-toolbar (confirm)="submit()"
                                     (cancel)="_dialog.close()"
                                     [mode]="_edit ? 'edit' : 'add'"></control-panel-ui-action-toolbar>
</ng-template>

<ng-template #games>
    <div mat-dialog-title>{{'ADMIN_MENU_GAMES' | translate}} | {{_games.server}}</div>
    <div mat-dialog-content>
        <control-panel-games-list [games]="_games.games"></control-panel-games-list>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <button mat-button color="warn" [mat-dialog-close]>{{'CLOSE' | translate}}</button>
    </div>
</ng-template>
