@import "control-panel-theme";
:host {
  @include d-block();
  .period-selector_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .from, .to, .arrow, .actions {
      margin-right: 2rem;
    }
    .from, .to {
      width: 8rem;
    }
    .time {
      width: 5rem;
    }
  }
}
