<div class="period-selector_wrapper">
    <mat-form-field class="time">
        <input matInput type="time" [formControl]="_fromTimeControl" placeholder="{{fromLabel}}">
        <mat-hint>{{'TIME' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="from">
        <input matInput
               class="date-picker-input"
               [matDatepicker]="from"
               [max]="_toDateControl.value || maxDate"
               [min]="minDate"
               [formControl]="_fromDateControl">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
        <mat-error *ngIf="_fromDateControl?.errors?.matDatepickerParse">Введите дату в формате дд.мм.гггг</mat-error>
        <mat-error *ngIf="_fromDateControl?.errors?.required">Введите дату начала периода</mat-error>
        <mat-error *ngIf="_fromDateControl?.errors?.matDatepickerMax">Максимальная
            дата: {{_fromDateControl?.errors?.matDatepickerMax.max | date:'dd.MM.yyyy'}}</mat-error>
        <mat-error *ngIf="_fromDateControl?.errors?.matDatepickerMax && _toDateControl?.errors?.matDatepickerMin">Дата начала
            периода позже даты конца периода
        </mat-error>
        <mat-hint>{{'TRANSACTION_DATE' | translate}}</mat-hint>
    </mat-form-field>

    <mat-icon class="arrow">keyboard_arrow_right</mat-icon>
    <mat-form-field class="time">
        <input matInput type="time" [formControl]="_toTimeControl" placeholder="{{toLabel}}">
        <mat-hint>{{'TIME' | translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="to">
        <input matInput
               class="date-picker-input"
               [matDatepicker]="to"
               [max]="maxDate"
               [min]="_fromDateControl.value"
               [formControl]="_toDateControl">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
        <mat-error *ngIf="_toDateControl?.errors?.matDatepickerParse">Введите дату в формате дд.мм.гггг</mat-error>
        <mat-error *ngIf="_toDateControl?.errors?.required">Введите дату конца периода</mat-error>
        <mat-error *ngIf="_toDateControl?.errors?.matDatepickerMin">Минимальная
            дата: {{_toDateControl.errors.matDatepickerMin.min | date: 'dd.MM.yyyy'}}</mat-error>
        <mat-error *ngIf="_toDateControl?.errors?.matDatepickerMin && _fromDateControl?.errors?.matDatepickerMax">Дата конца
            периода раньше начала периода
        </mat-error>
        <mat-hint>{{'TRANSACTION_DATE' | translate}}</mat-hint>
    </mat-form-field>


    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" style="color: #fff">{{submitLabel}}</button>
    </div>
</div>
