:host {
  .action-button-group {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 10px;
    }
  }
  .message {
    ::ng-deep span {
      font-weight: 700;
    }
  }
}
