<div class="light-theme">
    <control-panel-ui-card class="primary">
        <div panelUICardHeaderTitle>{{'TRANSACTIONS_LIST_TITLE' | translate}}</div>
        <div panelUICardContent>
<!--            <div class="d-flex align-items-center justify-content-end">-->
<!--                <span class="mr-4">Last synchronization was at {{(service.lastSyncTime$ | async) | date:'dd.MM.yyyy HH:mm:ss'}}</span>-->
<!--                <button mat-raised-button color="primary" (click)="service.synchronize()">Sync</button>-->
<!--            </div>-->
            <control-panel-ui-card [hideHeader]="true" class="no-margin">
                <div panelUICardContent>
                    <control-panel-ui-time-filter class="light-theme"></control-panel-ui-time-filter>
                </div>
            </control-panel-ui-card>
            <control-panel-ui-table class="light-theme"
                                    [displayedColumns]="['timestamp', 'owner', 'status', 'amount']"
                                    [simpleDataColumn]="['status', 'owner']"
                                    [data]="service.transactions$ | async"
                                    [itemCount]="(service.transactions$ | async)?.length"></control-panel-ui-table>
            <control-panel-ui-empty *ngIf="!(service.invoices$ | async)?.length"></control-panel-ui-empty>
        </div>
    </control-panel-ui-card>
</div>
