<div class="light-theme">
    <control-panel-ui-card class="primary">
        <div panelUICardHeaderTitle>{{'TRANSACTIONS_LIST_TITLE' | translate}}</div>
        <div panelUICardContent>
            <control-panel-ui-card [hideHeader]="true" class="no-margin">
                <div panelUICardContent>
                    <control-panel-ui-time-filter class="light-theme" (apply)="applyFilter($event)"></control-panel-ui-time-filter>
                </div>
            </control-panel-ui-card>
            <mat-paginator #paginator [pageSizeOptions]="[25, 50]"
                           *ngIf="(service.requestHelper.count && (service.transactions$ | async)?.length > 10) && service.requestHelper.count > 25"
                           [length]="service.requestHelper.count" showFirstLastButtons
                           [pageSize]="service.requestHelper.pageSize"
                           (page)="paginationChangeHandler($event)"></mat-paginator>

            <table mat-table [dataSource]="service.transactions$ | async" class="transactions-table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>{{translations.instant('ID')}}</th>
                    <td mat-cell *matCellDef="let transaction">
                        <p>{{transaction.id || '-'}}</p>
                        <p class="sub_text">{{transaction.comment}}</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="account_id">
                    <th mat-header-cell *matHeaderCellDef>{{translations.instant('ACCOUNT_ID')}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.account.user?.display_name || 'N/A'}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>{{translations.instant('TRANSACTION_AMOUNT')}}</th>
                    <td mat-cell *matCellDef="let transaction">
                        <p [ngClass]="'control-panel-ui-table-amount_' + (transaction.amount?.amount > 0 ? 'positive' : transaction.amount?.amount < 0 ? 'negative' : 'null')">
                            {{transaction.amount?.amount}} {{transaction.amount?.currency}}
                        </p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef>{{translations.instant('CREATED_AT')}}</th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.created_at | date:'dd.MM.yyyy HH:mm'}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[25, 50]" *ngIf="service.requestHelper.count > 25"
                           [length]="service.requestHelper.count" showFirstLastButtons
                           [pageSize]="service.requestHelper.pageSize"
                           (page)="paginationChangeHandler($event)"></mat-paginator>
            <control-panel-ui-empty *ngIf="!(service.transactions$ | async)?.length" class="black"></control-panel-ui-empty>
            <div class="d-flex justify-content-end">
                <control-panel-trigger [callBack]="service.refresh.bind(service)" class="absolute"></control-panel-trigger>
            </div>
        </div>
    </control-panel-ui-card>
</div>

